extends ../../layout

block content
 //
   main content
 .container.row.main
    include ../admin-menu
    h1 Barn Deals
    include ../../flashify
    
    - if (barn_deals.length == 0)
      p No properties have been created yet.
    - else
        table(width="100%")
          thead
            td
              u Address
            td
              u Suburb
            td
              u State
            td
              u Postcode
            td 
              u Deal Type
            td
              
          - each barn in barn_deals
            tbody
              td= barn.address
              td= barn.suburb
              td= barn.state.toUpperCase()
              td= barn.postcode
              td= barn.deal_type.toUpperCase()
              td
                small
                  a(href="/administration/barn/edit/#{barn.property_id}") Edit
                  |  | 
                  a(href="/administration/barn/delete/#{barn.property_id}") Delete