nav#admin-menu.admin-menu
  
  ul.sf-menu
    
    li
      - var c = (menu == 'dashboard') ? 'active' : ''
      a(href='/admin', class="#{c}") Dashboard
    
    li
      - var c = (menu == 'property-deals') ? 'active' : ''
      a(href='/admin/owls', class="#{c}") Deals
      ul
        li
          a(href='/admin/owls') Owl Deals
        li
          a(href='/admin/barns') Barn Deals
    - if (req.user && req.user.isAdmin())
      
      li
        - var c = (menu == 'advertising') ? 'active' : ''
        a(href='/advertisements', class="#{c}") Advertising
        ul
          li
            a(href='/advertisements') Advertisements
          li
            a(href='/advertisers') Advertisers
      
      li
        - var c = (menu == 'products-service-suppliers') ? 'active' : ''
        a(href='/admin/affiliates', class="#{c}") Affiliates
      
      li
        - var c = (menu == 'posts') ? 'active' : ''
        a(href='/posts', class="#{c}") News / Research
      
      li
        - var c = (menu == 'pages') ? 'active' : ''
        a(href='/pages', class="#{c}") Pages
      
      li
        - var c = (menu == 'pages') ? 'active' : ''
        a(href='/admin/files', class="#{c}") Files
      
      li
        - var c = (menu == 'reports') ? 'active' : ''
        a(href='/admin/reports', class="#{c}") Reports
      
      li
        - var c = (menu == 'members') ? 'active' : ''
        a(href='/users', class="#{c}") Users