.grid-header
  
  h2 Pending Owl Deal Listings

- if (owls.length == 0)
  
  table.admin-gridview
    
    thead
      tr 
        th(colspan='6')
          | There are no pending owl deals.
    
    tbody
    
    tfoot
      tr
        td(colspan='6')
          a.button(href="/admin/owls") Manage All Owl Deals
- else
  
  table.admin-gridview.pending-owls(data-entity_type='owl')
   
   thead
     tr
       th ID
       th Listed On
       th Title
       th(colspan='3') Actions
    
    tbody
    - each owl in owls
      tr(data-id=owl.id)
       td= owl.code
       - var listed = new Date(owl.created_at)
       td #{moment(listed).format('DD/MM/YYYY')}
       td= owl.title
       td.actions
         a(href='/admin/owls/#{owl.id}/edit', alt='edit owl deal')
           img(src='/images/edit.png', alt='Edit')
           | Edit
        td.actions
          a.approve(href='#')
            img(src='images/approve.png', alt='View')
            | Approve
    tfoot
      tr
        td(colspan='6')
          a.button(href="/admin/owls") Manage All Owl Deals