extends ../../layout

block content
  //
    main content
  .container.row.main
    include ../../left_nav
    //
      center-col
    #center-col
      h1 Members 
      
      table(width="100%")
        thead
          th Name
          th Email
          th Member Type
          th Actions
        tbody
          - each user in users
            tr
              td #{user.first_name} #{user.last_name}
              td= user.email
              td= user.account_type
              td
                small
                  a(href="/administration/members/edit/#{user.user_id}") Edit
                  | &nbsp;|&nbsp;
                  a(href="/administration/members/delete/#{user.user_id}") Delete
      br
      a(href="/administration/members/add") + New Member