extends ../../layout

block content
 //
   main content
 .container.row.main
      include ../../admin-menu
      h1
        | Add New Project 
        span.secondary - Barn Deal
      .admin-actions
        ul
          li
            a(href='/administration/properties')
              img(src='/images/manage.png')
              | &nbsp;
              | Manage Projects
          li.disabled
            img(src='/images/add.png')
            | &nbsp;
            | Add New Project
      .grid-header.form-header
        ol.six
          li.active
            .ol-1-active
            | Details
          li.active
            .ol-2-active
            | Features
          li.active
            .ol-3-active
            | Barn Deal
          li
            .ol-4
            | Images
          li
            .ol-5
            | Property Lots
          li
            .ol-6
            | Complete!
      .details
        h2 Barn Deal
        hr
        form.details-form(action="/administration/properties/add?step=3", method="post")
          .left
            //
              .inputs
              label.required(for='dealType') Deal Type
              select#dealType
                option Select
            .inputs
              label.required(for='dealTypeCustom')
                // span.secondary or 
                | Deal Type
              input#dealTypeCustom(type='text',name="type",placeholder="Stamp Duty etc..")
            .inputs
              label.required(for='dealAmount') Dollar Amount
              input#dealAmount(type='text',name="value",placeholder="Numeric value only. Don't include $")
              input.button#addDeal(type='submit', value='Add')
          .right
            .inputs
              table.admin-gridview
                thead
                  tr
                    td Attribute
                    td Value
                    td Actions
                tbody#deals
                  - var totalPrice = 0;
                  - each deal in deals
                    - totalPrice += deal.value
                    tr
                      td= deal.type
                      td $#{deal.value.toFixed(2)}
                      td
                        a.rm(href="#",data-id="#{deal.deal_id}")
                          img(src='/images/delete.png')
                          | Remove
              table.admin-summary
                tbody
                  tr
                    td.label Total Dollar Value
                    td#totalPrice(colspan='2') $#{totalPrice.toFixed(2)}
                  tr
                    td.label Total Percentage Value
                    td#totalPercentage(colspan='2')
                      = ((totalPrice / property[0].price) * 100).toFixed(2)
                      | %
          script
            $(document).ready(function(){
              // This is ONLY for the updating. No server logic uses this at all.
              // So dont bother changing it. ;D
              var tp = #{property[0].price};
              var tdv = #{totalPrice};
              
              
              var percentify = function()
              {
                $("#totalPrice").html('$' + (tdv).toFixed(2));
                $("#totalPercentage").html( ((tdv / tp) * 100).toFixed(2) + '%');
              }
              
              
              var addDealHandler = function(e)
              {
                e.preventDefault();
                var dealAmount, dealType, dealTypeCustom = '';
                dealAmount = $("#dealAmount").val();                
                tdv = tdv +  parseInt(dealAmount);
                percentify();
                dealTypeCustom = $("#dealTypeCustom").val();
                
                $.ajax({
                  url: '/ajax/addDeal',
                  type: 'POST',
                  data: 'type='+dealTypeCustom+'&value='+dealAmount+'&pid=#{property[0].property_id}'
                }).done(function(d){
                  $("#deals").append('<tr>'+
                  ' <td>'+dealTypeCustom+'</td>'+
                  ' <td>$'+dealAmount+'</td>' + 
                  ' <td><a href="#" data-id="'+d.insertId+'" class="rm"><img src=\'/images/delete.png\' /> Remove</a></td>'+
                  '</tr>');
                });
                
                $("#deals tr td").last().bind('click',removeHandler);
              }
              
              var removeHandler = function(e)
              {
                e.preventDefault();
                var id = $(this).data('id');
                
                $.ajax({
                  url: '/ajax/deleteDeal',
                  type: 'DELETE',
                  data: "id="+ id
                }).done(function(d){
                  tdv -= d.value;
                  percentify();
                  $(this).parent().fadeOut('fast');
                });
              }
              
              $('#addDeal').click(addDealHandler);
              
              $(".rm").click(function(e){
                e.preventDefault();
                var id = $(this).data('id');
                
                $.ajax({
                  url: '/ajax/deleteDeal',
                  type: 'DELETE',
                  data: "id="+ id
                }).done(function(d){
                  tdv -= d.value;
                  percentify();
                  $(this).parent().parent().fadeOut();
                });
              });
            });
          .inputs  
          .inputs
            label(for='dealTerms') More Information - Deal Terms (if any)
            textarea#dealTerms(rows='5',name="terms")
          .submit
            a.left-button(href="/administration/properties/add?step=2") Previous Step
            input.button(type='submit', value='Next Step',name="cmdNext")
      //
        end details
    //
      end main content