extends ../../layout

block content
 //
   main content
 .container.row.main
      include ../../admin-menu
      h1
        | Add New Project 
        span.secondary - Details
      .admin-actions
        ul
          li
            a(href='/administration/properties')
              img(src='/images/manage.png') 
              | &nbsp;
              | Manage Projects
          li.disabled
            img(src='/images/add.png') 
            | &nbsp;
            | Add New Project
      .grid-header.form-header
        ol.six
          li.active
            .ol-1-active
            | Details
          li
            .ol-2
            | Features
          li
            .ol-3
            | Barn Deal
          li
            .ol-4
            | Images
          li
            .ol-5
            | Property Lots
          li
            .ol-6
            | Complete!
      .details
        h2 Details
        hr
        include ../../flashify
        form.details-form(action="/administration/properties/add?step=1",method="post")
          - if (mode == 'edit')
            input(type="hidden",name="_method",value="put")
          .left
            .inputs
              label.required(for='propertyDeveloper') Listed By
                select#propertyDevelopername(name="developer")
                  - if (step1.ptype == undefined) step1.developer = ''
                  - each developer in developers
                    option(value="#{developer.user_id}",selected= (step1.developer.toLowerCase() == developer.user_id) ? true :false) #{developer.first_name} #{developer.last_name}
            .inputs
              label.required(for='propertyType') Property Type
              select#propertyType(name="ptype")
                - if (step1.ptype == undefined) step1.ptype = ''
                - each ptype in property_types
                  option(value="#{ptype.property_type_id}",selected= (step1.ptype.toLowerCase() == ptype.property_type_id) ? true :false)= ptype.type
                  
            .inputs
              label.required(for='dealType') Deal Type
              select#dealType(name="deal_type")
                - if (step1.deal_type == undefined) step1.deal_type = ''
                option(value="Owl",selected= (step1.deal_type.toLowerCase() == 'owl') ? true :false) Owl
                option(value="Barn",selected= (step1.deal_type.toLowerCase() == 'barn') ? true :false) Barn
                option(value="All",selected= (step1.deal_type.toLowerCase() == 'all') ? true :false) All
                  
            .inputs
              label(for='propertyStage') Development Stage
              select#propertyStage(name="development_stage")
                - if (step1.development_stage == undefined) step1.development_stage = ''
                option(value="otp",selected= (step1.development_stage.toLowerCase() == 'otp') ? true :false) Off the Plan
                option(value="completed",selected= (step1.development_stage.toLowerCase() == 'completed') ? true :false)) Completed
                
            .inputs
              label.required(for='propertyTitle') Price
              - if (step1.price == undefined) step1.price = ''
              input#propertyTitle(type='text',name="price", placeholder="Numeric value only", value="#{step1.price}")
              
          .right
            .inputs
              label.required(for='propertyAddress') Address
              - if (step1.address == undefined) step1.address = ''
              input#propertyAddress(type='text',name="address",value="#{step1.address}")
              
            .inputs
              label.required(for='propertySuburb') Suburb
              - if (step1.suburb == undefined) step1.suburb = ''
              input#propertySuburb(type='text',name="suburb",value="#{step1.suburb}")
              
            .inputs
              label(for='propertyState') State / Territory
              - if (step1.state == undefined) step1.state = ''
              select#propertyState(name="state")
                option(value="qld",selected= (step1.state == 'qld') ? true :false) QLD
                option(value="nsw",selected= (step1.state == 'nsw') ? true :false) NSW
                option(value="act",selected= (step1.state == 'act') ? true :false) ACT
                option(value="vic",selected= (step1.state == 'vic') ? true :false) VIC
                option(value="sa",selected= (step1.state == 'sa') ? true :false) SA
                option(value="wa",selected= (step1.state == 'wa') ? true :false) WA
                option(value="nt",selected= (step1.state == 'nt') ? true :false) NT
                option(value="tas",selected= (step1.state == 'tas') ? true :false) TAS
                
            .inputs
              label.required(for='propertyPostcode') Postcode
              - if (step1.postcode == undefined) step1.postcode = ''
              input#propertyPostcode(type='text',name="postcode",value="#{step1.postcode}")
            .inputs
              label.required(for='propertyTitle') Title
              - if (step1.title == undefined) step1.title = ''
              input#propertyTitle(type='text',name="title",value="#{step1.title}")
          .inputs
            label(for='propertyDescription') Description
            - if (step1.description == undefined) step1.description = ''
            textarea#propertyDescription(rows='5',name='description')
              = step1.description
          .submit
            input.button(type='submit', value='Next Step')
      //
        end details
    //
      end main content