extends ../../layout

block content
 //
   main content
 .container.row.main
     include ../../admin-menu
     h1 Owl Deal Listings
     .admin-actions
       ul
         li
           a(href='/administration/properties/add')
             img(src='/images/add.png')
             | &nbsp;
             | Add New Deal
       // .grid-summary 1 - 4 of 24
     .grid-header
       form#search-form
         input#propertySearch(type='text')
         | &nbsp;
         input.button(type='submit', value='Go')
         | &nbsp;
         input.button(type='submit', value='Reset')
         .divider
         select#propertyDeveloper
           option Developer
           - each developer in developers
            option(value=developer.user_id) #{developer.first_name} #{developer.last_name}
         | &nbsp;
         select#propertyState
           option State
           option ACT
           option NSW
           option NT
           option QLD
           option SA
           option TAS
           option VIC
           option WA
         | &nbsp;
         select#propertyStatus
           option Status
           option Pending
           option Pre-release
           option Current
           option Ended
     table.admin-gridview
       thead
         tr
           td ID
           td Listed On
           td Address
           td State
           td Status
           td Deal Value
           td Registrations
           td(colspan='3') Actions
       tbody
        - each property in properties
          tr
           td= property.property_id
           - var listed = new Date(property.created_at)
           td #{listed.getDay()}/#{listed.getMonth()}/#{listed.getFullYear()}
           td= property.address
           td= property.state.toUpperCase()
           td
             if (property.approved == 1)
              | Approved
             else
              | Pending
           td 20 %
           td 134
           td.actions
             a(href='/properties/view/#{property.property_id}', alt='view property', target="_blank")
               img(src='/images/view.png', alt='View')
               | View
           td.actions
             a(href='/administration/properties/edit/#{property.property_id}', alt='edit property')
               img(src='/images/edit.png', alt='Edit')
               | Edit
           td.actions
             a(href='#', alt='delete property')
               img(src='/images/delete.png', alt='Delete')
               | Delete
       tfoot
         tr
           td(colspan='11')
             ul.pager
               li.disabled
                 a(href='#') Prev
               li.selected
                 a(href='#') 1
               li
                 a(href='#') 2
               li
                 a(href='#') 3
               li
                 a(href='#') 4
               li
                 a(href='#') Next
   //
     end main content