extends ../../layout

block content  
  //
    main content
  .container.row.main
    h1
      | Add New Project 
      span.secondary - Property Lots
    .admin-actions
      ul
        li
          a(href='#')
            img(src='/images/manage.png')
            | Manage Projects
        li.disabled
          img(src='/images/add.png')
          | Add New Project
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
        li.active
          .ol-2-active
          | Features
        li.active
          .ol-3-active
          | Barn Deal
        li.active
          .ol-4-active
          | Images
        li.active
          .ol-5-active
          | Property Lots
        li
          .ol-6
          | Complete!
    .details
      h2 Property Lots
      include ../../flashify
      hr
      form.details-form.add-new(action="/administration/properties/add?step=5",method="post",  enctype="multipart/form-data")
        .tabs
          ul.menu
            li.active Add New Property
          .tabs-content
            .left
              .inputs
                label.required(for='numberOfBedrooms') Number of Bedrooms
                select#numberOfBedrooms(name="bedrooms")
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
              .inputs
                label.required(for='numberOfBathrooms') Number of Bathrooms
                select#numberOfBathrooms(name="bathrooms")
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
              .inputs
                label.required(for='numberOfCarSpaces') Number of Car Spaces
                select#numberOfCarSpaces(name="carspaces")
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
              .inputs
                label.required(for='level') Level
                input#level(type='text',name="level")
              .inputs
                label Floor Plan
                input(type='file',name="upload")
                input.button(type='submit', value='Upload')
            .right
              .inputs
                label.required(for='interiorSize') Interior Size (sq. m)
                input#interiorSize(type='text',name="interior")
              .inputs
                label.required(for='exteriorSize') Exterior Size (sq. m)
                input#exteriorSize(type='text',name="exterior")
              .inputs
                label.required(for='aspect') Aspect
                select#aspect(name="aspect")
                  option(value='north') North
                  option(value='east') East
                  option(value='south') South
                  option(value='west') West
              .inputs
                label.required(for='price') Price
                input#price(type='text',name="price")
            .inputs  
          br
          - if (lots.length > 0)
            table.admin-gridview.squished
              thead
                tr
                  td Lot
                  td Bed
                  td Bath
                  td Car
                  td Level
                  td Int. Size
                  td Ext. Size
                  td Aspect
                  td Price
                  td Floor Plan
                  td(colspan='2') Actions
              tbody
                - each lot in lots
                  tr
                    td 1
                    td= lot.bedrooms
                    td= lot.bathrooms
                    td= lot.carspaces
                    td= lot.level
                    td #{lot.interior_size} sq.m
                    td #{lot.exterior_size} sq.m
                    td= lot.aspect
                    td $ #{lot.price}
                    td
                      - if (lot.floor_plan.length == 0)
                        em Not Available
                      - else
                        a(href='#') Download
                    //
                      td.actions
                        a(href='#')
                          img(src='/images/update.png')
                          | Update
                    td.actions
                      a(href='#')
                        img(src='/images/delete.png')
                        | Remove
          .submit
            a.left-button(href="/administration/properties/add?step=4") Previous Step
            a.button(href="/administration/properties/add?step=finish") Finish
    //  
      end details
  //
    end main content
