extends ../../layout

block content

  .container.row.main
  
    include ../menu
    
    h1 Edit Advertisement: #{advertisement.description}
    
    include actions
    
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
    
    .details
      h2 Advertisement Details
      
      hr
      
      form.details-form(action="", method="post", enctype="multipart/form-data")
        
        include ../../flashify
        
        input(type="hidden", name="_method", value="put")
        
        .inputs
          label.required(for="description") Description
            textarea#description(type="text", name="description")= advertisement.description
        
        .inputs
          label(for='page') Advertiser
            select(name="advertiser", class="select2", data-placeholder="Choose an advertiser")
              option(value="")
              - each advertiser in advertisers
                option(value="#{advertiser.advertiser_id}", selected=advertisement.advertiser_id == advertiser.advertiser_id)= advertiser.name
        
        .inputs
          label(for='page') Page
            //- make this optional [TODO] [@pyro]
            select(name="page", class="select3", data-placeholder="Choose a page")
              option(value="")
              - each page in pages
                option(value="#{page.page_id}", selected=advertisement.page_id == page.page_id)= page.header
        
        .inputs
          label(for='adspace') Space
            select(name="adspace", class="select2 iconed", data-placeholder="Choose a position")
              option(value="")
              - each adspace in adspaces
                option(value="#{adspace.adspace_id}", selected=advertisement.adspace_id == adspace.adspace_id)= adspace.name
        
        .inputs
          label.required(for='image') Image
            input#image(type="file", name="image")
        
        .inputs
          label.required(for='hyperlink') Hyperlink
            input#hyperlink(type="url", name="hyperlink", value=advertisement.hyperlink)
        
        .inputs
          label.required(for='visible') Visible
            input#visible(type="checkbox", name="visible", checked=advertisement.visible)
        
        .inputs
          label.required(for='start') Start
            input#start(type="date", name="start", value=advertisement.start)
        
        .inputs
          label.required(for='stop') Stop
            input#stop(type="date", name="stop", value=advertisement.stop)
        
        .inputs
        
        .submit
          input.button(type='submit', value='Update')
          a.left-button(href="/admin/advertisements") Cancel