extends ../../layout

block content
 .container.row.main
   include ../menu
   
   h1 Advertisements
   
   include actions
   
   .grid-header.form-header
   
   table.admin-gridview
     thead
       tr
         td ID
         td Description
         td Advertiser
         td Page
         //- td Space
         td Image
         td Hyperlink
         //- td Duration
         td Visible
         td(colspan='2') Actions
     
     tbody
      - each advertisement in advertisements
         tr
           td= advertisement.advertisement_id
           td= advertisement.description
           if advertisement.advertiser != null
             td= advertisement.advertiser.name
           else
             td
           td= advertisement.page
           //- td= advertisement.space
           td
            if(advertisement.adspace_id==1)
              img(src='/uploads/' + advertisement.image_id)
            else
              img.small-advert(src='/uploads/' + advertisement.image_id)
           td= advertisement.hyperlink
           //- td= advertisement.duration
           td= advertisement.visible
           
           td.actions
             a(href='/admin/advertisements/edit/#{advertisement.advertisement_id}', alt='edit')
               img(src='/images/edit.png', alt='edit')
               | Edit
           
           td.actions
             a(href='/admin/advertisements/delete/#{advertisement.advertisement_id}', alt='delete')
               img(src='/images/delete.png', alt='delete')
               | Delete