h2 Advertisement Details

hr

.left
  
  .inputs
    label.required(for="description") Description *
    input#description(type="text", name="description", maxlength='100', value=advertisement.description)
  
  .inputs
    label(for='page') Advertiser
    select(name="advertiser_id", class="select2", data-placeholder="Select")
      option(value="")
      - each advertiser in advertisers
        option(value="#{advertiser.id}", selected=advertisement.advertiser_id == advertiser.id)= advertiser.name
  
  .inputs
    label(for='page') Page
    select(name="page_ids", class="select3", data-placeholder="Choose pages", multiple, size=32)
      
      - each page in _.filter(pages, function(page) { return !(page.id == 34 || page.id == 35) })
        option(value="#{page.page_id}", selected=_.contains(_.pluck(advertisement.pages, 'page_id'), page.page_id))= page.header
  
  .inputs
    label(for='adspace') Space
    select(name="adspace_id", class="select2 iconed", data-placeholder="Choose a position")
      option(value="")
      - each adspace in adspaces
        option(value="#{adspace.adspace_id}", selected=advertisement.adspace_id == adspace.adspace_id)= adspace.name
  
  //- input(type='hidden', name='image_id', value=advertisement.image_id)

.right

  .inputs
    label.required(for='hyperlink') Hyperlink
    input#hyperlink(type="url", name="hyperlink", value=advertisement.hyperlink,maxlength='100')
  
  .inputs
    label.required(for='visible') Visible
    | &nbsp;
    input#visible(type="checkbox", name="visible", checked=advertisement.visible)
  
  .inputs
    label.required(for='start') Start
    input#start(type="date", name="start", value=date_input(advertisement.start))
  
  .inputs
    label.required(for='stop') Stop
    input#stop(type="date", name="stop", value=date_input(advertisement.stop))

.inputs

.inputs
  label.required(for='image') Image
  if advertisement.image
    img(src=advertisement.image.url, style='max-width: 50%;')
  input#image(type="file", name="image")