tr(data-id=advertisement.id, data-entity_type='advertisement')
  
  td= advertisement.description
  
  if advertisement.advertiser != null
    td= advertisement.advertiser.name
  else
    td
  
  if advertisement.pages != null
    td= _.pluck(advertisement.pages, 'header').join(', ')
  else
    td
  
  td
   if(advertisement.adspace_id==1)
     img(src='/uploads/' + advertisement.image_id)
   else
     img.small-advert(src='/uploads/' + advertisement.image_id)
  
  td= advertisement.visible
  
  td.actions
    a(href="/advertisements/#{advertisement.id}/edit", alt='edit')
      img(src='/images/edit.png', alt='edit')
      | Edit
  
  td.actions
    a.delete(href="/advertisements/#{advertisement.id}/delete", alt='delete')
      img(src='/images/delete.png', alt='delete')
      | Delete