tr(data-id=advertisement.id, data-entity_type='advertisement')
  
  td= advertisement.description
  
  if advertisement.advertiser
    td= advertisement.advertiser.name
  else
    td
  
  if advertisement.pages
    td= _.pluck(advertisement.pages, 'header').join(', ')
  else
    td
  
  if advertisement.image && advertisement.image.url
    td
      if advertisement.adspace_id == 1
        img(src=advertisement.image.url)
      else
        img.small-advert(src=advertisement.image.url)
  else
    td
  
  td= advertisement.visible
  
  td.actions
    a(href="/advertisements/#{advertisement.id}/edit", alt='edit')
      img(src='/images/edit.png', alt='edit')
      | Edit
  
  td.actions
    a.delete(href="/advertisements/#{advertisement.id}/delete", alt='delete')
      img(src='/images/delete.png', alt='delete')
      | Delete