tr
  
  td= advertisement.advertisement_id
  
  td= advertisement.description
  
  if advertisement.advertiser != null
    td= advertisement.advertiser.name
  else
    td
  
  if advertisement.page != null
    td= advertisement.page.header
  else
    td
  
  //- td= advertisement.space
  
  td
   if(advertisement.adspace_id==1)
     img(src='/uploads/' + advertisement.image_id)
   else
     img.small-advert(src='/uploads/' + advertisement.image_id)
  
  td= advertisement.hyperlink
  
  //- td= advertisement.duration
  
  td= advertisement.visible
  
  td.actions
    a(href='/admin/advertisements/edit/#{advertisement.advertisement_id}', alt='edit')
      img(src='/images/edit.png', alt='edit')
      | Edit
  
  td.actions
    a(href='/admin/advertisements/delete/#{advertisement.advertisement_id}', alt='delete')
      img(src='/images/delete.png', alt='delete')
      | Delete