h2 Address
hr

.inputs(data-geo='master')
  label(for='title') Geo
  input(type='text', value='')

hr

.left
  .inputs
    label(for='level') Level
      input.level#level(type='number', name='level', value='#{owl.level || ""}', min='0')

  .inputs
    label(for='address') Address Line 1
    input.address#address(type='text', name='address', value='#{owl.address || ""}')

  .inputs
    label(for='suburb') Suburb
    input.suburb#suburb(type='text', name='suburb', value='#{owl.suburb || ""}',maxlength='100')

.right
  .inputs
    label(for='postcode') Postcode
    input.postcode#postcode(type='text', name='postcode', value='#{owl.postcode || ""}',maxlength='10')

  .inputs
    label(for='state') State
    select.state#state(name='state')
      option Select
      - each state in ['act', 'nsw', 'nt', 'qld', 'sa', 'tas', 'vic', 'wa']
        option(value='#{state}', selected=state == owl.state) #{state.toUpperCase()}