h2 Address

hr

.inputs(data-geo='master')
  label(for='title') Geo
  input(type='text', value='')

hr

.left.mobile-full
  
  .inputs
    label(for='level_input') Level
      input.level#level_input(type='number', name='level', value=owl.level, min='0')
  
  .inputs
    label(for='address_input') Address (e.g. 5 Owl Street)
    input.address#address_input(type='text', name='address', value=owl.address)
  
  .inputs
    label(for='suburb_input') Suburb
    input.suburb#suburb_input(type='text', name='suburb', value=owl.suburb, maxlength='100')

.right.mobile-full
  
  .inputs
    label(for='postcode_input') Postcode
    input.postcode#postcode_input(type='text', name='postcode', value=owl.postcode, maxlength='10')
  
  .inputs
    label(for='state_input') State
    select.state#state_input(name='state')
      option Select
      - each state in ['act', 'nsw', 'nt', 'qld', 'sa', 'tas', 'vic', 'wa']
        option(value=state, selected=state == owl.state)= state.toUpperCase()