h2 Features
hr
.left
  .inputs
    label(for='bedrooms') Number of Bedrooms
    input.bedrooms(type='number', name='bedrooms', value='#{owl.bedrooms}', min='0')

  .inputs
    label(for='bathrooms') Number of Bathrooms
    input.bathrooms(type='number', name='bathrooms', value='#{owl.bathrooms}', min='0')

  .inputs
    label(for='cars') Number of Car Spaces
    input.cars(type='number', name='cars', value='#{owl.cars}', min='0')

  - var aspects = [' ','North','North-East','East','South-East','South','South-West','West','North-West']

  .inputs
    label(for='aspect') Aspect
    select(name="aspect")
      each aspect in aspects
        option(value=aspect,selected=(owl.aspect == aspect) ? true : false)= aspect

  .inputs
    label(for='internal_area') Net Floor Area (m²) exc. balconies
    input#internal_area(type='number', name='internal_area', value='#{owl.internal_area}', min='0', max='100000000')

  .inputs
    label(for='external_area') External Area (m²)
    input#external_area(type='number', name='external_area', value='#{owl.external_area}', min='0', max='100000000')

.right

  .inputs
    label(for='indoor_features') Indoor Features
    textarea(name='indoor_features',rows='4')= owl.indoor_features

  .inputs
    label(for='outdoor_features') Outdoor Features
    textarea(name='outdoor_features',rows='4')= owl.outdoor_features

  .inputs
    label(for='other_features') Other Features
    textarea(name='other_features',rows='4')= owl.other_features