tr.media(data-id=file.id, data-type=file.type, data-entity-id=owl.id)
  
  input(type='hidden', name="files[#{file.id}][id]", value=file.id)
  
  td
    if(file.filename)
      img.grid-thumb(src='/uploads/#{file.filename}', data-json=JSON.stringify(file))
  
  td
    input(type='text', name="files[#{file.id}][description]", value=file.description)
  
  td
    a.delete(href='/owls/#{owl.id}/delete', alt='delete owl deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete