tr.media(data-id=file.id, data-type=file.type, data-entity-id=owl.id)
  
  td
    if(file.filename)
      img(src='/uploads/#{image.filename}', width='128', height='128', data-json=JSON.stringify(file))
  
  td
    a.delete(href='/admin/owls/#{owl.id}/delete', alt='delete owl deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete