tr.media(data-id=image.id, data-type=image.type, data-entity-id=owl.id)
  
  td
    img.grid-thumb(src=image.thumbnail, data-json=JSON.stringify(image))
  
  td
    input(type='radio', name='feature_image', checked=owl.feature_image == image.filename, value=image.filename)
  
  td
    a.delete(href='/owls/#{owl.id}/delete', alt='delete owl deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete