.left
  
  .inputs
    label(for='title') Title
    input#title(type='text', name='title', value='#{owl.title}')
  
  .inputs
    label(for='development_type_id') Type
    select#development_type_id(type='text', name='development_type_id')
      option
      - for type in data.developmentTypes
        option(value='#{type.id}', selected=owl.development_type_id == type.id)= type.name
  
  .inputs
    label(for='price') Price
    input#price(type='number', name='price', value='#{owl.price}', min='0', max='100000000')
  
  .inputs
    label(for='description') Description
      textarea#description(name='description')
        = owl.description
  
  hr
  
  .inputs
    label(for='internal_area') Internal Area (m²)
    input#internal_area(type='number', name='internal_area', value='#{owl.internal_area}', min='0', max='100000000')

  .inputs
    label(for='external_area') External Area (m²)
    input#external_area(type='number', name='external_area', value='#{owl.external_area}', min='0', max='100000000')
  
  hr
  
  .inputs
    label(for='features') Internal Features
    select(name='features')
      option
      option(value='foo') foo
      option(value='bar') bar
      option(value='zip') zip
      option(value='zap') zap
  
  .inputs
    label(for='features') External Features
    select(name='features')
      option
      option(value='foo') foo
      option(value='bar') bar
      option(value='zip') zip
      option(value='zap') zap
  
  .inputs
    label(for='features') Other Features
    select(name='features')
      option
      option(value='foo') foo
      option(value='bar') bar
      option(value='zip') zip
      option(value='zap') zap
  
  hr
  
  .inputs
    label(for='bedrooms') Bedrooms
    input#bedrooms(type='number', name='bedrooms', value='#{owl.bedrooms}', min='0')
    
  .inputs
    label(for='bathrooms') Bathrooms
    input#bathrooms(type='number', name='bathrooms', value='#{owl.bathrooms}', min='0')
    
  .inputs
    label(for='cars') Cars
    input#cars(type='number', name='cars', value='#{owl.cars}', min='0')

.right
  
  .inputs
    label(for='title') Approved
      input.big_checkbox(name='approved', type='checkbox', checked=owl.approved)
  
  hr
  
  .inputs(data-geo='master')
    label(for='title') Geo
    input(type='text', value='')
  
  hr

  .inputs
    label(for='title') Address
    input#address(type='text', name='address', value='#{owl.address}')
  
  .inputs
    label(for='suburb') Suburb
    input#suburb(type='text', name='suburb', value='#{owl.suburb}')
  
  .inputs
    label(for='postcode') Postcode
    input#postcode(type='text', name='postcode', value='#{owl.postcode}')
  
  .inputs
    label(for='state') State
    select#state(name='state')
      option
      - each state in ['act', 'nsw', 'nt', 'qld', 'sa', 'tas', 'vic', 'wa']
        option(value='#{state}', selected=state == owl.state) #{state.toUpperCase()}
  
  include image_inputs
  
  hr
  
  include deal_inputs

.inputs