.panes(style='display: none;', data-tab=objUser.level)
  
  - if (objUser.isAdmin())
    .inputs.index.pane(data-key='index')
      
      h2 Approval
      
      label(for='title') Approved
        | &nbsp;
        input.big(id='approved', name='approved', type='checkbox', checked=owl.approved)
      
      label(for='title') Listed By
        | &nbsp;
        select(name="listed_by")
          each developer in developers
            option(value=developer.user_id, selected=(owl.user.user_id == developer.user_id) ? true : false) #{developer.first_name} #{developer.last_name}

      //- - var display = (owl.approved == true) ? 'block' : 'none';
      
      //- div#approved_at(style="display: #{display}")
      //-   label(for='title') Approved at
      //-   if owl.approved_at
      //-     input(id='approved_at_val', name='approved_at', type='date', value=moment(owl.approved_at).format('YYYY-MM-DD'))
      //-   else
      //-     input(id='approved_at_val', name='approved_at', type='date')
      
      //- script
      //-   $(document).ready(function(){
      //-     $("#approved").click(function(){
      //-       if ($(this).attr('checked'))
      //-       {
      //-         $("#approved_at").show();
      //-       }
      //-     else
      //-       {
      //-         $("#approved_at").hide();
      //-       }
      //-     });
      //-   });
  
  .inputs.detail.pane(data-key='detail', data-label='details')
    include detail_inputs
  
  .inputs.address.pane(data-key='address')
    include address_inputs
  
  .inputs.feature.pane(data-key='feature', data-label='features')
    include feature_inputs
    
    include area_inputs
  
  .inputs.image.pane(data-key='image', data-label='images')
    include image_inputs
  
  .inputs.file.pane(data-key='file', data-label='files')
    include file_inputs
  
  .inputs.deal.pane(data-key='deal')
    include deal_inputs
  
  if !owl.id
    .inputs.clone.pane(data-key='clone')
      include clone_inputs