.details.read
  
  h3= owl.title
  
  .left
    
    table.left-table
      tr
        td.key Property ID
        td.value= owl.code

      - if (owl.user)
        tr
          td.key Listed By
          td.value #{owl.user.first_name} #{owl.user.last_name}
      
      - if (owl.approved_at)
        tr
          td.key Listed On
          td.value= owl.approved_at
      tr
        td.key Status
        td.value= owl.status
      tr
        td.key Time Left
        td.value= owl.time_left
      tr
        td.key Property Type
        td.value= owl.developmentType.name
      tr
        td.key Development Stage
        td.value= owl.developmentStatus.name
      tr
        td.key Price
        td.value= '$' + owl.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      tr
        td.key Address
        td.value= owl.fullAddress
      tr
        td.key Bedrooms
        td.value= owl.bedrooms
      tr
        td.key Bathrooms
        td.value= owl.bathrooms
      tr
        td.key Car Spaces
        td.value= owl.cars
      tr
        td.key Total Area
        td.value= owl.area
      tr
        td.key Indoor Features
        td.value
          - if (owl.indoorFeatures.length > 0)
            ul
              - each feature in owl.indoorFeatures
                li= feature
      tr
        td.key Outdoor Features
        td.value
          - if (owl.outdoorFeatures.length > 0)
            ul
              - each feature in owl.outdoorFeatures
                li= feature
      tr
        td.key Other Features
        td.value
          - if (owl.otherFeatures.length > 0)
            ul
              - each feature in owl.otherFeatures
                li= feature
  .right
    label Description

    p= owl.description
  
  .inputs
  
  h3 Registrations
  
  table.admin-gridview
    thead
      tr
        td Full Name
        td Email
        //- td Status
        td Date
    tbody.body
      if owl.registrations.length == 0
        tr
          td No registrations for this owl
          td
      - else
        each registration in owl.registrations
          tr
            td #{registration.first_name} #{registration.last_name}
            td= registration.email
            //- td
            //-   select.registration(data-id="#{registration.registration_id}")
            //-     - var c = (registration.status == 0) ? true : false
            //-     option(value='0',selected=c) Not Interested
            //-     - var c = (registration.status == 1) ? true : false
            //-     option(value='1',selected=c) Interested
            td= registration.created_at

  hr.light

  h3 Enquiries

  table.admin-gridview
    thead
      tr
        td Sent By
        td Message
        td Date
    tbody.body
      if owl.enquiries.length == 0
        tr
          td(colspan='3') No enquiries for this owl

      - else
        each enquiry in owl.enquiries
          tr
            td #{enquiry.first_name} #{enquiry.last_name}
            td= enquiry.enquiry
            td= enquiry.created_at


  form(data-id=owl.id)
    
    include file_inputs
    
    include image_inputs
    
    include deal_inputs