tr(data-id=owl.id)
  td(style='text-align: center;')= owl.code
  
  - var listed = new Date(owl.created_at)
  td(style='text-align: center;') #{listed.getDay()}/#{listed.getMonth()}/#{listed.getFullYear()}
  
  td: a(href="/admin/owls/#{owl.id}")= owl.title
  
  td= owl.address
  
  td(style='text-align: center;')= owl.state.toUpperCase()
  
  td(style='text-align: center;')
    if (owl.approved)
     | Approved
    else
     | Pending
  
  td(style='text-align: right;') #{owl.value} %
  
  td(style='text-align: right;') #{owl.registrations.length}
  
  //- td.actions
  //-   a(href='/admin/owls/#{owl.owl_id}/view', alt='view owl deal')
  //-     img(src='/images/view.png', alt='View')
  //-     | View
  
  td.actions
    a.edit(href='/admin/owls/#{owl.owl_id}/edit', alt='edit owl deal')
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    a.delete(href='/admin/owls/#{owl.owl_id}/delete', alt='delete owl deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete