tr(data-id=owl.id, data-entity_type='owl')
  td.id(style='text-align: center;')= owl.code
  
  - var listed = new Date(owl.created_at)
  td.created_at(style='text-align: center;') #{moment(listed).format('DD/MM/YYYY')}
  
  td.title: a(href="/owls/#{owl.id}/admin")= owl.title
  
  td.address= owl.address
  
  td.state(style='text-align: center;')= owl.state.toUpperCase()
  
  td.status(style='text-align: center;')
    if (owl.approved)
     | Approved
    else
     | Pending
  
  td.deal_value(style='text-align: right;') #{owl.value} %
  
  td.registrations(style='text-align: right;') #{owl.registrations.length}
  
  //- td.actions
  //-   a(href='/owls/#{owl.owl_id}/view', alt='view owl deal')
  //-     img(src='/images/view.png', alt='View')
  //-     | View
  
  td.actions.edit
    a.edit(href='/owls/#{owl.owl_id}/edit', alt='edit owl deal')
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions.delete
    a.delete(href='/owls/#{owl.owl_id}/delete', alt='delete owl deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete