tr
  td= owl.owl_id
  
  - var listed = new Date(owl.created_at)
  td #{listed.getDay()}/#{listed.getMonth()}/#{listed.getFullYear()}
  
  td= owl.address
  
  td= owl.state.toUpperCase()
  
  td
    if (owl.approved)
     | Approved
    else
     | Pending
  
  td #{owl.value} %
  
  td #{owl.registrations}
  
  td.actions
    a(href='/owls/#{owl.owl_id}', alt='view owl')
      img(src='/images/view.png', alt='View')
      | View
  
  td.actions
    a(href='/admin/owls/#{owl.owl_id}/edit', alt='edit owl')
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    a(href='/admin/owls/#{owl.owl_id}/delete', alt='delete owl')
      img(src='/images/delete.png', alt='Delete')
      | Delete