extends ../../layout

block content
  .container.row.main
    include ../menu
    h1 Reports
      span.secondary  - Advertising Click Throughs
    include reportsMenu
    .grid-header
      rid-header
      form#search-form(action="", method="get")
        select#propertyMonth(name="month")
          option(value="all") Month
          option(value="jan") January
          option(value="feb") February
          option(value="mar") March
          option(value="apr") April
          option(value="may") May
          option(value="jun") June
          option(value="jul") July
          option(value="aug") August
          option(value="sep") September
          option(value="oct") October
          option(value="nov") November
          option(value="dec") December
        | &nbsp;
        select#advertiser(name="advertiser")
          option(value="0") Advertiser
          - each advertiser in advertisers
            option(value=advertiser.advertiser_id) #{advertiser.name}
        .divider
        input.button(type='submit', value='Go')
    table.admin-gridview
      thead
        tr
          td Advertiser
          td Ad
          td Click Throughs
      tbody
      - var graph = []
      - each click in clicks
        - var c = 0
        if click.advertiser != null
          - c++
          tr
            td= click.advertiser
            td= click.description
            td= click.click_count
            - graph.push([click.description, click.click_count]);
        if c == 0
          tr
            td ---
            td ---
            td ---

    div#chart_div
    script
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(
          !{JSON.stringify(graph)});

        // Set chart options
        var options = {
          'title':'Advertisment Click %',
          'width':400,
          'height':300,
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }