extends ../../layout

block content
  .container.row.main
    include ../menu
    include _menu
    h1 Reports
      span.secondary  - Deal Registrations
    .grid-header
      form#search-form(action="", method="get")
        select#propertyMonth(name="month")
          option(value="all") All Months
          option(value="jan") January
          option(value="feb") February
          option(value="mar") March
          option(value="apr") April
          option(value="may") May
          option(value="jun") June
          option(value="jul") July
          option(value="aug") August
          option(value="sep") September
          option(value="oct") October
          option(value="nov") November
          option(value="dec") December
        .divider
        | &nbsp;
        input.button(type='submit', value='Go')
        .divider
    table.admin-gridview
      thead
        tr
          td Date
          td User
          td Registrations
      tbody
      - var graph = []
      - each registration in registrations
        tr
          - var listed = new Date(registration.created_at)
          td #{moment(listed).format('DD/MM/YYYY')}
          td #{registration.first_name} #{registration.last_name}
          - graph.push([registration.first_name + ' ' + registration.last_name, registration.total])
          td= registration.total
      tfoot
        tr
          td(colspan='3')
            &nbsp;

    div#chart_div
    script
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(
          !{JSON.stringify(graph)});
        
        // Set chart options
        var options = {
          'title':'Deal Registrations',
          'width':400,
          'height':300,
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }