extends ../../layout

block content
  .container.row.main
    include ../menu
    include _menu
    h1 Reports
      span.secondary  - Property Searches
    .grid-header
      form#search-form(action="", method="get")
        select#propertyMonth(name="month")
          option(value="all") All Months
          option(value="jan") January
          option(value="feb") February
          option(value="mar") March
          option(value="apr") April
          option(value="may") May
          option(value="jun") June
          option(value="jul") July
          option(value="aug") August
          option(value="sep") September
          option(value="oct") October
          option(value="nov") November
          option(value="dec") December
        | &nbsp;
        select#propertyState(name="state")
          option(value='all') State
          option(value="act") ACT
          option(value="nsw") NSW
          option(value="nt") NT
          option(value="qld") QLD
          option(value="sa") SA
          option(value="tas") TAS
          option(value="vic") VIC
          option(value="wa") WA        
        .divider
        input.button(type='submit', value='Go')
    table.admin-gridview
      thead
        tr
          td Date
          td State
          td Min Price
          td Max Price
          td Min Beds
          td Max Beds
          td Bathrooms
          td Cars
      tbody
      - var graph = []
      - each search in searches
        tr
          - var listed = new Date(search.created_at)
          td #{moment(listed).format('DD/MM/YYYY')}
          td= search.state || ''
          td.price= search.minPrice || '--'
          td.price= search.maxPrice || '--'
          td= search.minBeds || '--'
          td= search.maxBeds || '--'
          td= search.bathrooms || '--'
          td= search.cars || '--'
      tfoot
        tr
          td(colspan=8)
            p: strong &nbsp; Total: #{searches.length}
