extends ../../layout

block content
  .container.row.main
    include ../menu
    h1 Reports
      span.secondary  - Product & Service Enquiries
    include reportsMenu
    .grid-header
      form#search-form
        select#propertyMonth
          option Month
          option January
          option February
          option March
          option April
          option May
          option June
          option July
          option August
          option September
          option October
          option November
          option December
        .divider
        input.button(type='submit', value='Go')
        //- | &nbsp;
        //- select#supplier
        //-   option Supplier
        //-   - each supplier in suppliers
        //-     option(value=supplier.service_id) #{supplier.company}
    table.admin-gridview
      thead
        tr
          td Date
          td Supplier
          td Enquiry Count
      tbody
      - var graph = []
      - each enquiry in enquiries
        tr
          - var listed = new Date(enquiry.date)
          td #{listed.getDay()}/#{listed.getMonth()+1}/#{listed.getFullYear()}
          td= enquiry.name
          td= enquiry.total
          - graph.push([enquiry.name, enquiry.total])
  div#chart_div
    script
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(
          !{JSON.stringify(graph)});

        // Set chart options
        var options = {
          'title':'Service Enquiries',
          'width':400,
          'height':300,
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }