extends ../../layout

block content
 //
   main content
 .container.row.main
   h1 Product & Service Suppliers
   include navigation
   .grid-header
     form#search-form
       input#propertySearch(type='text')
       | &nbsp;
       input.button(type='submit', value='Go')
       | &nbsp;
       input.button(type='submit', value='Reset')
       .divider
       | &nbsp;
       select#supplierState
         option State
         option ACT
         option NSW
         option NT
         option QLD
         option SA
         option TAS
         option VIC
         option WA        
       | &nbsp;
       select#supplierCategory
         option Category
         option Interior Design
         option Building
         option Furnishings
         option Building
         option Legal Services
   table.admin-gridview
     thead
       tr
         td ID
         td Name
         td Category
         td Suburb
         td State
         td Visible
         td Enquiries
         td(colspan='3') Actions
     tbody
      - each service in services
         tr
           td= service.service_id
           td= service.company
           td= service.category
           td= service.suburb
           td= service.state.toUpperCase()
           td Y
           td 124
           td.actions
             a(href='#', alt='view property')
               img(src='/images/view.png', alt='View')
               | View
           td.actions
             a(href='/administration/services/edit/#{service.service_id}', alt='edit property')
               img(src='/images/edit.png', alt='Edit')
               | Edit
           td.actions
             a(href='/administration/services/delete/#{service.service_id}', alt='delete property')
               img(src='/images/delete.png', alt='Delete')
               | Delete
     tfoot
       tr
         td(colspan='12')
           ul.pager
             li.disabled
               a(href='#') Prev
             li.selected
               a(href='#') 1
             li
               a(href='#') 2
             li
               a(href='#') 3
             li
               a(href='#') 4
             li
               a(href='#') Next
