tr(data-id=file.id)
  
  td
    a.link(href=file.url)= file.id
  
  - var created_at = new Date(file.created_at)
  td #{moment(created_at).format('DD/MM/YYYY')}
  
  td
    a.link(href=file.url)
      img(src=file.thumbnail, style="height: auto; width: 25%;")
  
  td.actions
    
    a.link(href=file.url)
      img(src='/images/manage.png', alt='Link')
      | Link
  
  td.actions
    
    a.delete(href="/files/#{file.id}/delete")
      img(src='/images/delete.png', alt='Delete')
      | Delete