.enquiry
  
  h2 Enquire About This Deal
  
  form#input-form.enquire-form(method='post', action='/enquiries')
    
    if req.user
      input(type='hidden', value=req.user.first_name, name='first_name')
      input(type='hidden', value=req.user.first_name, name='last_name')
      input(type='hidden', value=req.user.email, name='email')
    else
      label(for='name') First Name
      input.name(type='text', name='first_name')
        
      label(for='name') First Name
      input.name(type='text', name='first_name')
      
      label(for='email') Email:
      input.email(type='text', name='email')
    
    label(for='phone') Phone
    input.phone(type='text',name="phone")
    
    input(type='hidden', name='entity_id', value=deal.id)
    input(type='hidden', name='entity_type', value=entity_type)
    
    label(for='contact_method') Contact Method
    select.contact_method(name='contact_method')
      option(value='phone') Phone
      option(value='email') Email
    
    label(for='comment') Comments
    textarea.comment(name='comment', rows='5')
    
    input.enquire.button(type='submit', value='Submit')