nav#admin-menu
  ul.sf-menu
    li
      - var c = (menu == 'dashboard') ? 'active' : ''
      a(href='/administration',class="#{c}") Dashboard
    li
      - var c = (menu == 'property-deals') ? 'active' : ''
      a(href='/administration/properties',class="#{c}") Property Deals
      ul
        li
          a(href='/administration/properties') Owl Deal Listings
        li
          a(href='/administration/barn') Barn Deal Listings
    li
      - var c = (menu == 'advertising') ? 'active' : ''
      a(href='/administration/advertisements',class="#{c}") Advertising
      ul
        li
          a(href='/administration/advertisements') Advertisements
        li
          a(href='/administration/advertisers') Advertisers
    li
      - var c = (menu == 'products-service-suppliers') ? 'active' : ''
      a(href='/administration/services',class="#{c}") Products & Service Suppliers
      ul
        li
          a(href='/administration/services') Suppliers
        li
          a(href='/administration/services/categories') Categories
    li
      - var c = (menu == 'content') ? 'active' : ''
      a(href='/administration/pages',class="#{c}") Content
      ul
        li
          a(href='/administration/news') News & Research
        li
          a(href='/administration/pages') Pages
    li
      - var c = (menu == 'reports') ? 'active' : ''
      a(href='/administration/reports',class="#{c}") Reports
    li  
      - var c = (menu == 'members') ? 'active' : ''
      a(href='/administration/members',class="#{c}") Members
