!!! 5
html.no-js(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Property Owl
    meta(name='description', content='')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    //
       styles 
    //
      <link rel="stylesheet/less" href="less/styles.less">
    //if lt IE 9
    script(src='/js/libs/less-1.3.0.min.js')
    link(rel='stylesheet', href='/css/styles.css')
    //
       fonts 
    script(type='text/javascript', src='//use.typekit.net/rej6muq.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
    script(src='/js/libs/modernizr-2.5.3.min.js')
    script(src='/js/libs/jquery-1.7.2.min.js')
    
    //
      superfish drop down menu
    <script type="text/javascript" src="/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/js/superfish.js"></script>
    script(type="text/javascript")
      // initialise plugins
      $(document).ready(function(){
        jQuery('ul.sf-menu').superfish();
      });
    
    script(src='/js/scripts.js')
    
  body
    .container.row
      header#header
        #logo-box
          a#logo(href='/')
            img(src='/images/logo.png')
        #banner-box
          img#banner(src='/images/banner-ad.png', alt='Banner Advert')
        nav#menu
            ul.sf-menu
                li
                  - var c = (menu == 'aus-best-deal') ? 'active' : ''
                  a(href='/best-deal',class="#{c}") Australia's Best Deal
                li
                  - var c = (menu == 'best-state-deal') ? 'active' : ''
                  a(href='/deals/state/qld',class="#{c}") Best State Deal
                li
                  - var c = (menu == 'owl-deals') ? 'active' : ''
                  a(href='/owl-deals',class="#{c}") Owl Deals
                li
                  - var c = (menu == 'wise-owl') ? 'active' : ''
                  a(href='/news',class="#{c}") Wise Owl
                  ul
                    li
                      a(href='/news') News Updates
                    li
                      a(href='/research') Research
                li
                  - var c = (menu == 'products') ? 'active' : ''
                  a(href='/products',class="#{c}") Products & Services
                li
                  a(href='#') My Nest
                  ul
                    li
                      a(href='#') My Account
                    li
                      a(href='#') Contact Us
                    li
                      a(href='#') Refer A Friend
                    li
                      a(href='#') Saved Deals
                    li
                      a(href='#') Sign Out
    block content
    footer#footer.row
      div
        h4 Company
        ul
          li
            a(href='/terms-and-conditions') Terms and Conditions
          li
            a(href='/privacy') Privacy Policy
          li
            a(href='/about') About Us
      div
        h4 What is Property Owl?
        ul
          li
            a(href='/why-the-owl') Why the Owl?
          li
            a(href='/') Home Page
          li
            a(href='/faq') FAQs
      .social
        h4 Follow Us
        ul
          li
            a(href='#') Facebook
          li
            a(href='#') Twitter
      div
        h4 Partnerships
        ul
          li
            a(href='#') Developer Enquiries
          li
            a(href='#') Agent Enquiries
          li
            a(href='#') Advertising Enquiries
