!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Property Owl
    meta(name='description', content='')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    //
       styles 
    //
      <link rel="stylesheet/less" href="less/styles.less">
    //if lt IE 9
    script(src='/js/libs/less-1.3.0.min.js')
    link(rel='stylesheet', href='/css/styles.css')
    //
       fonts 
    script(type='text/javascript', src='//use.typekit.net/rej6muq.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
    script(src='/js/libs/modernizr-2.5.3.min.js')
    script(src='/js/libs/jquery-1.7.2.min.js')
    script(src='/js/moment.min.js')
  
    //
      superfish drop down menu
    <script type="text/javascript" src="/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/js/superfish.js"></script>
    script(type="text/javascript")
      // initialise plugins
      $(document).ready(function(){
        jQuery('ul.sf-menu').superfish();
      });
  
    script(src='/js/scripts.js')
  
  body

    .modal-overlay.overlay
      .modal.main.success
        a.close-modal(href='#')
          img(src='/images/modal-close.png', alt='Close')
        h1.modal-title Modal title!
        .modal-content.details-form
          label Test input
          input(type='text', value='test')
          label Test textarea
          textarea
          br
          br
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida adipiscing nulla, ut lobortis lectus porta quis. In eu ipsum at mi venenatis euismod. Nullam at augue nec leo porttitor ornare vel et ante. Praesent eu mauris nibh. Nunc turpis nibh, aliquam fringilla elementum fringilla, facilisis at velit. In eu nisi non sapien bibendum faucibus. Nulla a augue dui, accumsan facilisis ipsum. In in risus sed tellus dapibus eleifend volutpat et quam. Nam tempor, tortor eu rhoncus dictum, ante enim sodales velit, suscipit ultricies dolor nisi eget turpis. Etiam pretium accumsan neque, eget volutpat justo semper eget. Nunc sagittis tempor tellus, nec imperdiet ante congue quis. Nulla pulvinar lorem at nulla rutrum imperdiet. Proin sit amet tempus enim.
          | Maecenas ut mauris turpis, quis tincidunt sapien. Integer ultricies, nisl non ultricies varius, tellus nisi facilisis eros, nec commodo velit erat vitae lectus. Phasellus commodo posuere nibh quis sollicitudin. Mauris et lorem velit. Morbi luctus odio vitae arcu tempus blandit. Donec mollis nunc risus. Vestibulum varius elementum ligula, vitae sagittis urna vestibulum et. Proin cursus blandit felis, quis volutpat dolor placerat vitae. In tincidunt euismod elit nec tristique. Proin mollis odio nec velit gravida in condimentum nisl lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius, nisl nec ultrices molestie, mi nisl aliquam ipsum, sed commodo urna ante quis justo. Aliquam porta elementum ultricies. In vitae tortor eget augue hendrerit fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          | Curabitur faucibus, felis vitae faucibus facilisis, metus leo facilisis mi, id auctor velit metus eget orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vitae tempus orci. Sed molestie, diam vel suscipit iaculis, nisi turpis lobortis erat, at ornare leo tortor at augue. Nullam porttitor nunc ac enim venenatis quis molestie elit semper. Pellentesque suscipit enim tincidunt ante dapibus pharetra. Praesent dui metus, luctus vel accumsan a, faucibus in massa. Ut ac euismod lacus. Praesent porttitor bibendum nulla feugiat malesuada. Sed ullamcorper urna at lorem ultricies non bibendum nisi aliquam. Integer blandit, lectus non ultrices luctus, quam lacus sollicitudin ligula, dapibus ultrices leo sem nec dolor. Etiam vulputate dictum augue tristique tincidunt. Nulla mollis sem vel mauris laoreet egestas. Vivamus viverra elementum tincidunt.
    .register-overlay.overlay
      .modal.main.success
        a.close-register(href='#')
          img(src='/images/modal-close.png', alt='Close')
        h1.modal-title Register to see more!
        .modal-content.details-form
          input.half(type='text', placeholder='First Name')
          input.half(type='text', placeholder='Last Name')
          input.half(type='text', placeholder='Email Address')
          input.half(type='text', placeholder='Postcode')
          input.half(type='text', placeholder='Password')
          input.half(type='text', placeholder='Confirm Password')
          .submit-buttons
            input.button.right(type='submit', value='Create Account')
            .terms-checkbox
              input#terms(type='checkbox')
              label(for='terms')
                | I agree to the Property Own
                a(href='#') Terms & Conditions
          hr
          .center
            | Already registered?
            br
            a.button(href='#') Click here!
    .login-overlay.overlay
      .modal.main.success
          a.close-login(href='#')
            img(src='/images/modal-close-white.png', alt='Close')
          br
          br
          h1.modal-title Login
          .login-error(style="display:none; text-align:center; font-weight:bold; color:#ff4949; padding-bottom:10px;")
          .modal-content.details-form
            input.half.login-email(type='text', placeholder='Email Address')
            input.half.login-password(type='text', placeholder='Password')
            .submit-buttons
              input.button.right.login-button(type='submit', value='Login')
              .terms-checkbox(style='text-align: right;')
                input#remember(type='checkbox')
                label(for='terms') Remember Me
            hr
            .center
              | Don't have an account?
              br
              a.button(href='#') Click here!
    

    .container.row
      header#header
        #top-header
         #logo-box
           a#logo(href='/')
             img(src='/images/logo.png')
         #banner-box
           img#banner(src='/images/banner-ad.png', alt='Banner Advert')
        nav#menu
            ul.sf-menu
                li
                  - var c = (menu == 'aus-best-deal') ? 'active' : ''
                  a(href='/best-deal',class="#{c}") Australia's Best Deal
                li
                  - var c = (menu == 'best-state-deal') ? 'active' : ''
                  a(href='/deals/state/qld',class="#{c}") Best State Deal
                li
                  - var c = (menu == 'owl-deals') ? 'active' : ''
                  a(href='/owl-deals',class="#{c}") Owl Deals
                li
                  - var c = (menu == 'wise-owl') ? 'active' : ''
                  a(href='/news',class="#{c}") Wise Owl
                  ul
                    li
                      a(href='/news') News Updates
                    li
                      a(href='/research') Research
                li
                  - var c = (menu == 'products') ? 'active' : ''
                  a(href='/products',class="#{c}") Products & Services
                - if (objUser.isAuthed())
                  li
                    a(href='/account') My Nest
                    ul
                      - if( objUser.isAdmin())
                        li
                          a(href="/administration") Administration
                      li
                        a(href='/account') My Account
                      li
                        a(href='/saved') Saved Deals
                      li
                        a(href='/contact') Contact Us
                      li
                        a(href='/sign-out') Sign Out
                - else
                  li
                    a.show-login(href="/login") Login
                  //
                    li
                      a(href="/sign-up") Sign Up
    block content
    footer#footer.row
      div
        h4 Company
        ul
          li
            a(href='/terms-and-conditions') Terms and Conditions
          li
            a(href='/privacy') Privacy Policy
          li
            a(href='/about') About Us
      div
        h4 What is Property Owl?
        ul
          li
            a(href='/why-the-owl') Why the Owl?
          li
            a(href='/') Home Page
          li
            a(href='/faq') FAQs
      .social
        h4 Follow Us
        ul
          li
            a(href='#') Facebook
          li
            a(href='#') Twitter
      div
        h4 Partnerships
        ul
          li
            a(href='/contact') Developer Enquiries
          li
            a(href='/contact') Agent Enquiries
          li
            a(href='/contact') Advertising Enquiries
