!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title= globals.site.name
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le styles 
    link(href='/styles/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/styles/bootstrap-responsive.css', rel='stylesheet')
    //
       Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src="/scripts/jquery.js")
    script(src="/scripts/jquery.timeago.js")
    script(src="/scripts/bootstrap.js")
    //
  body
    .navbar.navbar-fixed-top
      .navbar-inner
          a.brand(href='/')= globals.site.name
          .nav-collapse.collapse
            ul.nav.pull-right
              li
                a(tabindex="-1",href="#") Australia's Best Deal
                
              li
                a(tabindex="-1",href="/deals/state") Best State Deal
                
              li
                a(tabindex="-1",href="#") Owl Deals
                    
              li.dropdown
                a(href="#",role="button",class="dropdown-toggle",data-toggle="dropdown") Wise Owl 
                  b.caret
                ul.dropdown-menu(role="menu")
                  li
                    a(tabindex="-1",href="/news")
                      i.icon-globe
                      |  News Updates
                  li
                    a(tabindex="-1",href="#") 
                      i.icon-book
                      |  Research
                - if (objUser.isDeveloper())
                  li.dropdown
                    a(href="#",role="button",class="dropdown-toggle",data-toggle="dropdown") 
                      i.icon-wrench
                      |  Developers 
                      b.caret
                    ul.dropdown-menu(role="menu")
                      li
                        a(tabindex="-1",href="/developers/properties")
                          i.icon-home
                          |  Manage Properties
                      li
                        a(tabindex="-1",href="#")
                          i.icon-star-empty
                          |  Manage Deals

              - if (!objUser.isAuthed())
                li
                  a(href='/sign-up') Sign Up
                li
                  a(tabindex="-1",data-toggle="modal",href="#loginModal") 
                    i.icon-lock
                    |  Login
              - else      
                li.dropdown
                  
                  a(href="#",role="button",class="dropdown-toggle",data-toggle="dropdown") 
                    i.icon-user 
                    |  My Nest 
                    b.caret
                  ul.dropdown-menu(role="menu")
                    h5 &nbsp;#{objUser.displayName}
                    li
                      a(tabindex="-1",href="/account")
                        i.icon-user 
                        |  My Account
                    - if (objUser.isAdmin())
                      li
                        a(tabindex="-1",href="/administration") 
                          i.icon-lock
                          |  Administration
                    li
                      a(tabindex="-1",href="/contact") 
                        i.icon-envelope
                        |  Contact Us
                    li
                      a(tabindex="-1",href="#") 
                        i.icon-bullhorn
                        |  Refer A Friend
                    li.divider
                    li
                      a(href="/logout") 
                        i.icon-off
                        |  Sign Out
          //
            /.nav-collapse 
    header.jumbotron.subhead.well#overview
      div.container
        img(src="http://placehold.it/1000x86")

    .container-fluid
      .row-fluid

        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Advertisement 1
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Advertisement 2
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Find Deals
              li State / Territory
                select.span9
                  option All
              li Property Type
                select.span9
                  option All
              li Deal Type
                select.span9
                  option All
                  
              li Min. Price
                select.span9
                  option All
                  
              li Max. Price
                select.span9
                  option All
                  
              li Min. Beds
                select.span9
                  option Any
                  
              li Max. Beds
                select.span9
                  option Any
                  
              li Bathrooms
                select.span9
                  option Any
                  
              li Car Spaces
                select.span9
                  option Any
              
              li Development Stage
                select.span9
                  option All
              button.btn-primary.btn Search
          //
            /.well 
        //
          /span
        .span8
          div.alert.alert-info d8Debug: Logged in as #{objUser.displayName}
          block content
        //
          /span
        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Advertisement
              img(src="http://placehold.it/200x400")
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Advertisement
              img(src="http://placehold.it/200x400")
      //
        /row
      hr
      .modal.hide.fade#loginModal
          .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h3 Login
            .modal-body
              form.form-horizontal(action="/sign-up",method="post")

                div.control-group  
                  label.control-label(for="inputEmail") Email:
                  div.controls
                    input#modalEmail(type="text",placeholder="Email",name="email",value="bscarvell@gmail.com")
                div.control-group
                  label.control-label(for="password") Password:
                  div.controls
                    input#modalPwd(type="password",placeholder="Password",name="password",value="password")  
                    
            .modal-footer
              a.btn.btn-primary(href='#',id="modalLogin") Login
              a.btn(href='#',data-dismiss='modal') Cancel
      
      footer
        p © #{globals.site.name} 2012 · Empowered by 
          a(href="http://digital8.com.au") Digital8
          
      script
        $(document).ready(function(){
          $("#modalLogin").click(function(){
            $.ajax({
              url: "/ajax/login",
              type: "post",
              data: "e="+$("#modalEmail").val()+"&p="+$("#modalPwd").val()
            }).done(function (res) {
              if (res.status == true)
              {
                $("#loginModal").modal('hide');
                $('#loginModal').on('hidden', function () {
                  window.location = '/';
                })
              }
              else
              {
                 alert('bad login');
              } 
            });
          });
        });
    ///.fluid-container
    
