extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      
      h1 My Account
      
      .grid-header.form-header.pane-nav
        
        include menu
      
      .tabs.account  
        
        .tabs-content
          
          .padding
            
            - if (referrals.length)
              
              table.admin-gridview
                
                thead
                  tr
                    td Email
                    td First Name
                    td Last Name
                    td Comment
                    td Sent
                    td
                
                tbody
                  
                  - each referral in referrals
                    tr
                      td= referral.email
                      td= referral.first_name
                      td= referral.last_name
                      td= referral.comment
                      td= moment(referral.created_at).format('L')
                      td: a(href=referral.entity.url) View
            - else
              
              h4 You have no referrals. Try <a href="/refer-a-friend">Referring A Friend</a>!
    
    include ../right_nav