extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      h1 My Account
      
      .grid-header.form-header.pane-nav
        include menu
      
      .tabs.account  
        .tabs-content
          .padding  
            table.admin-gridview
              thead
                tr
                  td ID
                  td Deal Type
                  td Actions
              
              tbody
                - if (registrations.length == 0)
                  h4 You haven't registered to any property.
                - else
                  each registration in registrations 
                    if registration.status != 0
                      tr
                        td= registration.resource_id
                        td
                          case (registration.type)
                            when 'owl'
                              a(href="/owls/#{registration.resource_id}") Owl Deal
                            when 'barn'
                              a(href="barns/#{registration.resource_id}") Barn Deal
                            default 
                              p= registration.type
                        td
                          a.reg-delete(href="#", data-id="#{registration.registration_id}") 
                            img(src='images/delete.png')
                            | Remove
      
    include ../right_nav

  script
    $(document).ready(function(){
      $(".reg-delete").click(function(e){
        e.preventDefault();
        var id = $(this).data('id');
        var $that = $(this);
        if (confirm('Are you sure you want to remove this?'))
        {
          $.ajax({
            url: '/ajax/delRegistration',
            method: 'get',
            data: 'id='+id
          }).done(function(d){
            if (d.status == '200'){
              $that.parent().parent().fadeOut();
            }
          });
        }
      });
    });