extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col.mobile-full
      h1 My Account
      
      .grid-header.form-header.pane-nav
        include menu
      
      .tabs.account  
        .tabs-content
          .padding  
            table.admin-gridview
              thead
                tr
                  td ID
                  td Deal Type
                  td Actions
              
              tbody
                - if (registrations.length == 0)
                  h4 You haven't registered to any property.
                - else
                  each registration in registrations 
                    if registration.status
                      tr
                        td= registration.entity_id
                        td
                          case (registration.entity_type)
                            when 'owl'
                              a(href="/owls/#{registration.entity_id}") Owl Deal
                            when 'barn'
                              a(href="barns/#{registration.entity_id}") Barn Deal
                            default 
                              p= registration.entity_type
                        td
                          a.reg-delete(href="#", data-id="#{registration.registration_id}") 
                            img(src='images/delete.png')
                            | Remove
      
    include ../right_nav