extends ../layout

block content
  .container.row.main
    
    include ../left_nav
    
    #center-col
      legend
        h1 My Account
      
      .tabs.account
        ul.menu
        
        ul.menu
          li.active
            a(href="/account") My details
          // li Property Preferences
          li
            a(href="/saved") Saved Properties
          // li Deal Registrations
        
        .tabs-content
          
          .padding
            form(action="/account",method="post")
              
              include ../flashify
              
              table.admin-gridview.no-head
                tbody
                  tr
                    td First name
                    td
                      input(type='text', name='fname', value=objUser.firstName)
                  tr
                    td Last name
                    td
                      input(type='text', name='lname', value=objUser.lastName)
                  tr
                    td Password
                      br
                      small Password will not be changed if left blank
                    td
                      input(type='password', name='password', value="")
                      br
                      br
                      input(type='password', name='confirmPassword', value="")
                  tr
                    td Company
                    td
                      input(type='text', name='company', value=objUser.company)
                  tr
                    td Email
                    td
                      input(type='email', name='email', value=objUser.email)
                  tr
                    td Phone
                    td
                      input(type='tel', name='phone', value=objUser.phone)
                  tr
                    td Work Phone
                    td
                      input(type='tel', name='work_phone', value=objUser.work)
                  tr
                    td Mobile
                    td
                      input(type='tel', name='mobile', value=objUser.mobile)
                  tr
                    td Address
                    td
                      textarea(name='address')= objUser.address
                  tr
                    td Suburb
                    td
                      input(type='text', name='suburb', value=objUser.suburb)
                  tr
                    td Postcode
                    td
                      input(type='text', name='postcode', value=objUser.postcode)
                  tr
                    td Subscribed to Newsletter
                    td
                      select(name='subscribed_news')
                        - var sel = (objUser.subscribedNewsletters == '1') ? true : false
                        option(value='1', selected=sel) Yes
                        - var sel = (objUser.subscribedNewsletters == '0') ? true : false
                        option(value='0', selected=sel) No
                  tr
                    td Subscribed to Property Alerts
                    td
                      select(name='property_alerts')
                        - var sel = (objUser.subscribedAlerts == '1') ? true : false
                        option(value='1', selected=sel) Yes
                        - var sel = (objUser.subscribedAlerts == '0') ? true : false
                        option(value='0', selected=sel) No
                  tr
                    td
                    td
                      input(type='submit', value='Save Details')
    include ../right_nav
