h2 Address
hr

.inputs(data-geo='master')
  label(for='title') Geo
  input(type='text', value='')

hr

.left
  .inputs
    label(for='title') Address Line 1
    input.address(type='text', name='address', value='#{barn.address || ""}',maxlength='100')

  .inputs
    label(for='suburb') Suburb
    input.suburb(type='text', name='suburb', value='#{barn.suburb || ""}',maxlength='100')

.right
  .inputs
    label(for='postcode') Postcode
    input.postcode(type='text', name='postcode', value='#{barn.postcode || ""}',maxlength='10')

  .inputs
    label(for='state') State
    select.state(name='state')
      option
      - each state in ['act', 'nsw', 'nt', 'qld', 'sa', 'tas', 'vic', 'wa']
        option(value='#{state}', selected=state == barn.state) #{state.toUpperCase()}