.inputs
  label(for='listed_by') Listed By 
  select#listed_by(name='listed_by')
    option
    - each developer in developers
      option(value='#{developer.user_id}', selected=developer.user_id == barn.listed_by) #{developer.first_name} #{developer.last_name}

.inputs
  label(for='title') Title
  input#title(type='text', name='title', value='#{barn.title}',maxlength='100')

.inputs
  label(for='description') Description
    textarea#description(name='description',rows='7')
      = barn.description