tr.media(data-id=file.id, data-type=file.type, data-entity-id=barn.id)
  
  input(type='hidden', name="files[#{file.id}][id]", value=file.id)
  
  td
    if(file.filename)
      a(href="#{file.url}", target="_blank")
        img(src='#{file.thumbnail}', width='128', height='128', data-json=JSON.stringify(file))
  
  td
    input(type='text', name="files[#{file.id}][description]", value=file.description)
  
  td
    a.delete(href='/barns/#{barn.id}/delete', alt='delete barn deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete