.panes(style='display: none;', data-tab=objUser.level)
  
  .inputs.index.pane(data-key='index', data-label='details')
    
    h2 Barn Details
    hr
      
    - if (objUser.isAdmin())
      .left
        .inputs
          label(for='listed_by') Listed By 
          select#listed_by(name='listed_by')
            option
            - each developer in developers
              option(value='#{developer.user_id}', selected=developer.user_id == barn.listed_by) #{developer.first_name} #{developer.last_name}

        .inputs
          label(for='title') Approved
            | &nbsp;
            input.big_checkbox(name='approved', type='checkbox', checked=barn.approved)
    .inputs
    .inputs
      label(for='title') Title
      input#title(type='text', name='title', value='#{barn.title || ""}',maxlength='100')

    .inputs
      label(for='description') Description
        textarea#description(name='description',rows='7', style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 181px;")
          = barn.description
  
  .inputs.address.pane(data-key='address')
    include address_inputs
  
  .inputs.feature.pane(data-key='feature', data-label='features')
    include feature_inputs
  
  .inputs.image.pane(data-key='image', data-label='images')
    include image_inputs
  
  .inputs.file.pane(data-key='file', data-label='files')
    include file_inputs
  
  .inputs.deal.pane(data-key='deal')
    include deal_inputs
  
  .inputs.owl.pane(data-key='owl', data-label='property lots')
    include owl_inputs