tr.owl(data-owl-id=owl.id, data-barn-id=barn.id)
  td(style='text-align: center;')= owl.owl_id
  
  - var listed = new Date(owl.created_at)
  td(style='text-align: center;') #{listed.getDay()}/#{listed.getMonth()+1}/#{listed.getFullYear()}
  
  td= owl.title
  
  td= owl.address
  
  td(style='text-align: center;')= owl.state.toUpperCase()
  
  td(style='text-align: center;')
    if (owl.approved)
     | Approved
    else
     | Pending
  
  td(style='text-align: right;') #{owl.value} %
  
  td(style='text-align: right;') #{owl.registrations.length}
  
  //- td.actions
  //-   a(href='/admin/owls/#{owl.owl_id}/view', alt='view owl deal')
  //-     img(src='/images/view.png', alt='View')
  //-     | View
  
  td.actions
    a.unnest(href='#', alt='edit owl deal')
      img(src='/images/edit.png', alt='Edit')
      | Un-nest