tr.owl(data-owl-id=owl.id, data-barn-id=barn.id)
  
  td(style='text-align: center;')= owl.owl_id
  
  td(style='text-align: center;')= moment(new Date(owl.created_at)).format('LLL')
  
  td= owl.title
  
  td= owl.address
  
  td(style='text-align: center;')= owl.state.toUpperCase()
  
  //td(style='text-align: center;')
  //  if (owl.approved)
  //   | Approved
  //  else
  //   | Pending
  
  td(style='text-align: right;') #{owl.value} %
  
  td.actions
    a.unnest(href='#', alt='Remove from Barn Deal')
      img(src='/images/delete.png', alt='Remove from Barn Deal')
      | Remove