tr(data-id=barn.id, data-entity_type='barn')
  td= barn.code
  - var listed = new Date(barn.created_at)
  td(style='text-align: center;') #{moment(listed).format('DD/MM/YYYY')}
  td= barn.user.first_name + ' ' + barn.user.last_name
  td= barn.fullAddress
  td Current
  - if (typeof(barn.owls) != 'undefined')
    td= barn.owls.length
  - else
    td 0
  td 0
  
  td.actions
    a(href="/barns/#{barn.id}/edit", alt='Edit Barn Deal')
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    a.delete(href='/barns/#{barn.barn_id}/delete', alt='Delete Barn Deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete