tr
  td= barn.barn_id
  td= moment(barn.created_at).format('LLL')
  td= barn.user.first_name + ' ' + barn.user.last_name
  td= barn.fullAddress()
  td Current
  - if (typeof(barn.owls) != 'undefined')
    td= barn.owls.length
  - else
    td 0
  td 0
  
  td.actions
    a(href="/admin/barns/#{barn.id}/edit", alt='Edit Barn Deal')
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    a(href='/admin/barns/#{barn.barn_id}/delete', alt='Delete Barn Deal')
      img(src='/images/delete.png', alt='Delete')
      | Delete