tr
  td= barn.barn_id
  td= barn.created_at
  td= barn.user.first_name + ' ' + barn.user.last_name
  td= barn.state.toUpperCase()
  td Current
  td= barn.owls.length
  td 0
  
  td.actions
    a(href="/admin/barns/#{barn.id}/edit")
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    a(href="/admin/owls/#{barn.id}/delete")
      img(src='/images/delete.png', alt='Delete')
      | Delete