extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      a#forward-button(href='/how-it-works') How It Works
      h1 The Barn - Group Buying Power
      p
        | Take advantage of great deals on offer through group buying power for new properties and land across Australia – Welcome to The Barn.
      p
        | Simply put 'The Barn' is a place where Sellers can display 3 to 5 properties that are in the same location or within the same residential development.  Other Property Owl subscribers then have the opportunity to view and select the properties, and swoop on the offers within the designated time frame.
      p
        | When the minimum number of properties have been swooped upon the deal is activated.  See a great offer, need to move fast?? Then simply tell your friends on Facebook, Twitter or use the 'Refer a Friend' link within The Barn.  Even if you do not wish to take up the opportunity in securing a deal but know of someone who would, then simply tell them to subscribe to Property Owl and you will be rewarded with a $1,000 nest egg when they 'secure the deal' and purchase.
      p
        | If you want to buy but can't wait for the required number of buyers to 'secure the deal', search through Owl Deals for the same property with another special offer.  You decide.  This is now your opportunity to be involved in a unique and innovative concept that we at Property Owl believe will revolutionise the method in which new properties and land are sold.
      p
        | Swoop in today and share in the benefits and rewards available to you and your friends.
      p
        span.emphasis Property Owl – Innovation in Delivering Australia's Best Property Deals.
        
      - if (barn.length == 0)
        hr
        p There are no barn deals available at the moment but please check back soon.
      - else
        - each property in barn
          
          .listing-summary
            .header
              h2 #{property.address}, #{property.suburb}, #{property.postcode}
            .listing-body
              .listing-thumb
                img.thumb(src='/images/barn-thumb.jpg', alt='76 Orchard Terrace, St Lucia')
              .listing-details
                .summary
                  h3= property.title
                  p= property.description
                .listing-links
                  a.save-button(href='#')
                    img#save-icon(src='/images/plus-icon.png', alt='Save this barn listing')
                    |  Save
                  a.details-button(href='/barn/deals/#{property.property_id}')
                    img#info-icon(src='/images/info-icon.png', alt='View barn deal')
                    |  Details
    
    include ../right_nav
