//- hoist out this facebook scum

extends ../layout

block content
  
  div#fb-root
  
  script
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
  .container.row.main
    #deal_id(style='display:none')
      | #{owl.owl_id}
    
    //- #left-col
    //-   .deal-stats
    //-     .timer
    //-       #timer
    //-         #day-timer
    //-           span.label Days
    //-           span#day-timer-days.value
    //-         #hour-timer
    //-           span.label Hours
    //-           span#day-timer-hours.value
    //-         #minute-timer
    //-           span.label Mins
    //-           span#day-timer-mins.value
    //-       #map
    //-         img#map-image(src='/images/map.png', usemap='#australia', alt='Click on a State of Australia')
    //-         map(name='australia')
    //-           area#map-wa(shape='polygon', coords='65,25,65,100,17,116,3,62,57,19', href='/owls/state/wa')
    //-           area#map-nt(shape='polygon', coords='65,25,65,69,103,69,103,35,91,24,94,13,75,10', href='/owls/state/nt')
    //-           area#map-qld(shape='polygon', coords='103,68,103,34,111,39,119,10,159,82,116,82,116,68', href='/owls/state/qld')
    //-           area#map-sa(shape='polygon', coords='116,68,65,68,65,100,116,129', href='/owls/state/sa')
    //-           area#map-nsw(shape='polygon', coords='116,82,159,82,145,126,116,104', href='/owls/state/nsw')
    //-           area#map-vic(shape='polygon', coords='116,104,145,126,137,131,110,128,116,129', href='/owls/state/vic')
    //-           area#map-act(shape='square', coords='155,110,185,110,185,120,155,120', href='/owls/state/act')
    //-           area#map-tas(shape='square', coords='120,140,170,140,170,155,120,155', href='/owls/state/tas')
    //-     .counter
    //-       span.label Number of Enquiries
    //-       span.value 1,345
    //-   .barn-box
    //-     a(href="/barn-deals")
    //-       h2 The Barn
    //-       img#barn-image(src='/images/barn.png', alt='The Barn Group Deals')
    //-       h3 Group Deals
    //-   .share
    //-     ul
    //-       li
    //-         a(href='#', onclick='javascript:window.print()')
    //-           img(src='/images/share-print-icon.png', alt='Print')
    //-           | Print Deal
    //-       li.savebuttons(data-property="#{owl.property_id}")
    //-         img(src='/images/share-save-icon.png', alt='Save')
    //-         | Save Deal
    //-       li
    //-         img(src='/images/share-refer-icon.png', alt='Refer')
    //-         | Refer A Friend
    //-       li
    //-         .fb-like(data-href='http://www.propertyowl.com.au/properties/view/#{owl.property_id}', data-send='false', data-layout='button_count', data-width='125', data-show-faces='false')
    //-       li
    //-         a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.propertyowl.com.au/properties/view/#{owl.property_id}') Tweet
    //-         script
    //-           !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    //-   .enquiry
    //-     h2 Enquire About This Deal
    //-     form#input-form
    //-       label(for='propertyPhone') Phone
    //-       input#propertyPhone(type='text')
    //-       label(for='propertyContactMethod') Contact Method
    //-       select#propertyContactMethod
    //-         option Phone
    //-         option Email
    //-       label(for='propertyComments') Comments
    //-       textarea#propertyComments(rows='5')
    //-       input.button(type='submit', value='Submit')
    
    #wide-center-col
      - if (owl.images)
        #mySlider.evoslider.galleriffic
          dl
            dt slide one
            //- dd(data-src='/uploads/#{image.filename}', data-thumb='/images/slide1-thumb.jpg')
            dd(data-src='/uploads/slider2.jpg', data-thumb='/uploads/slide1-thumb.jpg')
            dt slide two
            dd(data-src='/uploads/slider3.jpg', data-thumb='/uploads/slide1-thumb.jpg')
            dt slide three
            dd(data-src='/uploads/slider4.jpg', data-thumb='/uploads/slide1-thumb.jpg')
            dt slide four
            dd(data-src='/uploads/slider5.jpg', data-thumb='/uploads/slide1-thumb.jpg')
            dt slide five
            dd(data-src='/uploads/slider1.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      
      .property-info
        #left
          h1= owl.title
          | #{owl.address}, #{owl.suburb}, #{owl.state.toUpperCase()} #{owl.postcode}
          h2 Property Details
          p= owl.description
          .general-features
            h3 General Features
            ul
              - if(owl.price)
                li Price: 
                  strong= '$' + owl.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
              - if(owl.property_type)
                li Property Type: 
                  strong #{owl.property_type}
              - if(owl.bedrooms)
                li Bedrooms: 
                  strong #{owl.bedrooms}
              - if(owl.bathrooms)
                li Bathrooms: 
                  strong #{owl.bathrooms}
              - if(owl.cars)
                li Car Spaces: 
                  strong #{owl.cars}
              - if(owl.development_stage)
                li Development Stage: 
                  strong #{owl.development_stage}
              - if(owl.internal_area)
                li Internal Area: 
                  strong #{owl.internal_area} sq. m
              - if(owl.external_area)
                li External Area: 
                  strong #{owl.external_area} sq. m
              - if(owl.internal_area && owl.external_area)
                li Total Area: 
                  strong #{parseFloat(owl.external_area) + parseFloat(owl.internal_area)} sq. m
            h3 Indoor Features
            p= owl.indoor_features

          .other-features
            h3 Outdoor Features
            p= owl.outdoor_features
            h3 Other Features
            p= owl.other_features
        
        #right
          - if (owl.deals)
            .deal
              h2
                | Reveal the Deal
                img.arrow(src='/images/blue-arrow-icon-down.png', alt='Reveal the Deal')
              - if (owl.deals.length == 0)
                ul
                  li No deals have been listed
              - else
                ul
                  - each deal in deals
                    li= '$' + deal.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' ' + deal.type.replace(/\w\S*/g, function(txt){ return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()})
            .secure-deal
              a.show-secure-deal.secure-button.register(href='#',data-id="#{owl.property_id}", data-type="property") Secure the Deal!
          
          iframe#google-map(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913&output=embed')
          br
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913', target="_blank") View Larger Map
          
          - if (owl.files)
            .more-info
              h2 
                | More Information
                img.arrow(src='/images/grey-arrow-icon-down.png', alt='More Information')
              - if (owl.files)
                ul
                - each file in files
                  li
                    a(href="/uploads/#{file.filename}") #{file.description}
              - else
                ul
                  li No files have been uploaded