.listing-summary
  
  .header
    
    .listing-code
      = owl.code

    .listing-price
      strong= '$' + owl.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    
    h2.listing-title: a(href='/owls/#{owl.id}')= owl.displayTitleShort()
  
  .listing-body
    
    .listing-thumb
      
      a(href='/owls/#{owl.owl_id}')
        
        img.thumb(src=owl.heroImageURL(), alt='#{owl.fullAddress}')
        
        //- TODO show if top listing
        //- img.top-state-deal(src='/images/top-state-deal.png', alt='Top State Deal')
    
    .listing-details
      
      .features
        
        span.owl-type
          strong= owl.developmentType.name
        
        span
          img(src='/images/bed-icon.png', alt='#{owl.bedrooms} Bedrooms')
          | &nbsp;
          strong= owl.bedrooms
          |  Bedroom
          = (owl.bedrooms>1) ? 's' : ''
        
        span
          img(src='/images/bath-icon.png', alt='#{owl.bathrooms} Bathrooms')
          | &nbsp;
          strong= owl.bathrooms
          |  Bathroom
          = (owl.bathrooms>1) ? 's' : ''
        
        span
          img(src='/images/car-icon.png', alt='#{owl.cars} Car Spaces')
          | &nbsp;
          strong= owl.cars
          |  Car Space
          = (owl.cars>1) ? 's' : ''
      
      .summary
        
        h3= owl.title
        
        p= _s.prune(owl.description, 150)
      
      .listing-links
        
        a.save-button.add-bookmark(href='#', data-deal-type='owl', data-deal-id=owl.id)
          img#save-icon(src='/images/plus-icon.png', alt='Save this owl')
          - if (owl.bookmark)
            |  Saved
          - else
            |  Save
        
        a.details-button(href='/owls/#{owl.id}')
          img#info-icon(src='/images/info-icon.png', alt='View owl details')
          |  Details
        
        - if (req.user && req.user.isHacker())
          a.admin-button(href='/owls/#{owl.id}/edit')
            img#admin-icon(src='/images/view.png', alt='View owl details')
            |  Admin
    
  - if (req.user && req.user.isHacker())
    
    include hack