.listing-summary
   
  .header
    .listing-price
      strong= '$' + owl.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    
    h2
      a(href='/owls/#{owl.owl_id}') #{owl.fullAddress()}
  
  .listing-body
    
    .listing-thumb
      a(href='/owls/#{owl.owl_id}')
        - if (owl.images && owl.images.length)
          - (owl.image = owl.images.pop())
          img.thumb(src='/uploads/#{owl.image.filename}', alt='#{owl.fullAddress()}')
        - else
          img.thumb(src='/images/placeholder.png', alt='#{owl.fullAddress()}')
        //- TODO show if top listing
        //- img.top-state-deal(src='/images/top-state-deal.png', alt='Top State Deal')
    .listing-details
      .features
        span.owl-type
          strong= owl.type.name
        span
          img(src='/images/bed-icon.png', alt='#{owl.bedrooms} Bedrooms')
          | &nbsp;
          strong= owl.bedrooms
          |  Bedroom
          = (owl.bedrooms>1) ? 's' : ''
        span
          img(src='/images/bath-icon.png', alt='#{owl.bathrooms} Bathrooms')
          | &nbsp;
          strong= owl.bathrooms
          |  Bathroom
          = (owl.bathrooms>1) ? 's' : ''
        span
          img(src='/images/car-icon.png', alt='#{owl.cars} Car Spaces')
          | &nbsp;
          strong= owl.cars
          |  Car Space
          = (owl.cars>1) ? 's' : ''
      
      .summary
        h3= owl.title
        p= owl.description.substr(0,150) + '...'
      
      .listing-links
        a.savebuttons.save-button(href='#', data-owl="#{owl.owl_id}")
          img#save-icon(src='/images/plus-icon.png', alt='Save this owl')
          |  Save
        a.details-button(href='/owls/#{owl.owl_id}')
          img#info-icon(src='/images/info-icon.png', alt='View owl details')
          |  Details
