tr(data-id=post.id)
  
  td= post.type.charAt(0).toUpperCase() + post.type.substr(1).toLowerCase()
  
  td= post.title
  
  - var listed = new Date(post.created_at)
  td(style='text-align: center;') #{moment(listed).format('DD/MM/YYYY')}
  
  td.actions
    
    a(href="/admin/posts/#{post.id}/edit")
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    
    a.delete(href="/admin/posts/#{post.id}/delete")
      img(src='/images/delete.png', alt='Delete')
      | Delete