tr(data-id=post.id)
  
  td= _s.humanize(post.type)
  
  td= post.title
  
  td(style='text-align: center;')= moment(post.created_at).format('LLL')
  
  td.actions
    
    a(href="/posts/#{post.id}/edit")
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    
    a.delete(href="/posts/#{post.id}/delete")
      img(src='/images/delete.png', alt='Delete')
      | Delete