extends ../../layout

block content
  //
     main content
  .container.row.main
    include ../../admin-menu
    h1 Edit Supplier - #{service.company}
    .admin-actions
      ul
        li
          a(href='/admin/services')
            img(src='/images/manage.png')
            | &nbsp;
            | Manage Suppliers
    .details
      h2 Supplier Details
      hr
      form.details-form(action="/admin/services/edit/#{service.service_id}",method="post")
       input(type="hidden",name="_method",value="put")
       .left
         .inputs
           label.required(for='supplierCategory') Category *
           select#supplierCategory(name="category")
             - each c in categories
               option(value="#{c.category_id}", selected=((service.category_id==c.category_id) ? true : false))= c.category
         .inputs
           label.required(for='supplierCompanyName') Company Name *
           input#supplierCompanyName(type='text',name="company", value="#{service.company}")
         .inputs
           label.file-upload(for='supplierLogo')
             | Logo Image *
             span.note (max file size 4MB)
           input#supplierLogo(type='file',name="logo")
           p.success Uploaded file: image.png (30kb)
         .inputs
           label.required(for='supplerEmail') Email Address *
           input#supplerEmail(type='text',name="email",value="#{service.email}")
         .inputs
           label
             input(type='checkbox', checked=((service.visible==1) ? true : false),name="visible",value="1")
             | &nbsp;Visible
       .right
         .inputs
           label.required(for='supplierPhone') Phone *
           input#supplierPhone(type='text',name="phone",value="#{service.phone}")
         .inputs
           label.required(for='supplierAddressLine1') Address Line 1 *
           input#supplierAddressLine1(type='text',name="address",value="#{service.address}")
         .inputs
           label.required(for='supplierSuburb') Suburb
           input#supplierSuburb(type='text',name="suburb",value="#{service.suburb}")
         .inputs
           label(for='propertyState') State / Territory
           select#propertyState(name="state")
             option(value="act") ACT
             option(value="nsw") NSW
             option(value="nt") NT
             option(value="qld") QLD
             option(value="sa") SA
             option(value="tas") TAS
             option(value="vic") VIC
             option(value="wa") WA
         .inputs
           label.required(for='propertyPostcode') Postcode
           input#propertyPostcode(type='text',name="postcode",value="#{service.postcode}")
       .inputs  
       .inputs
         label(for='supplierServiceDescription') Description of Service
         textarea#supplierServiceDescription(rows='5',name="description")
          = service.description
       .submit
         input.button(type='submit', value='Save')
  //
   end main content
