extends ../../layout

block content
 
  .container.row.main
    include ../menu
    
    h1 Affiliates
    
    .admin-actions
       ul
         li
           a(href='/admin/affiliates/add')
             img(src='/images/add.png')
             | &nbsp;
             | Add Affiliate
    
    .grid-header.form-header
    table.admin-gridview
      thead
        tr
          td Name
          td Category
          td Suburb
          td State
          td Visible
          td Enquiries
          td(colspan='3') Actions
      
      tbody
       - each affiliate in affiliates
          tr
            td= affiliate.name
            td= affiliate.category.name
            td= affiliate.suburb
            td= affiliate.state.toUpperCase()
            td Yes
            td 65
            td.actions
              a(href='/admin/affiliates/#{affiliate.affiliate_id}/edit', alt='edit property')
                img(src='/images/edit.png', alt='Edit')
                | Edit
            td.actions
              a(href='/admin/affiliates/delete/#{affiliate.affiliate_id}', alt='delete property')
                img(src='/images/delete.png', alt='Delete')
                | Delete
      
      tfoot
        tr
          td(colspan='12')
          | &nbsp;