extends ../../layout

block content
 
  .container.row.main
    
    include ../menu
    
    h1 Affiliates
    
    .admin-actions
       ul
         li
           a(href='/admin/affiliates/add')
             img(src='/images/add.png')
             | &nbsp;
             | Add Affiliate
    
    table.admin-gridview.affiliates
      thead
        tr
          td Name
          
          td Category
          
          td Suburb
          
          td State
          
          td Visible
          
          td Enquiries
          
          td(colspan='3') Actions
      
      tbody
       //- - (locals.affiliates = locals.affiliates || [])
       - each affiliate in affiliates
          tr(data-id=affiliate.id)
            td= affiliate.name
            
            td= affiliate.category.key
            
            td= affiliate.suburb
            
            td= affiliate.state.toUpperCase()
            
            td= {true: 'yes', false: 'no'}[affiliate.visible.toString()]
            
            td= affiliate.enquiries.length
            
            td.actions
              a.edit(href='/admin/affiliates/#{affiliate.affiliate_id}/edit', alt='edit property')
                img(src='/images/edit.png', alt='Edit')
                | Edit
            
            td.actions
              a.delete(href='/admin/affiliates/#{affiliate.id}/delete', alt='delete property')
                img(src='/images/delete.png', alt='Delete')
                | Delete
      
      tfoot
        tr
          td(colspan='12')
          | &nbsp;
    
    h1 Affiliate Categories
    .admin-actions
       ul
         li
           a(href='/categories/add')
             img(src='/images/add.png')
             | &nbsp;
             | Add Category

    table.admin-gridview.categories
      thead
        tr
          td Name
          
          td(colspan='2') Actions
      
      tbody
       //- - (locals.affiliateCategories = locals.affiliateCategories || [])
       each category in categories
          include ../categories/summary
      
      tfoot
        tr
          td(colspan='2')
          | &nbsp;