extends ../../layout

block content
  
  .container.row.main
    include ../menu
    
    h1 Pages
    
    include ../../flashify
    
    include actions
    
    .grid-header
    
    table.admin-gridview
      thead
        tr
          td Page Title
          td URL
          td Status
          td(colspan='2') Actions
      
      tbody
        - each page in _.filter(pages, function(page) { return page.type == 'block' || page.type == 'page'; })
          tr
            td= page.header
            
            td= page.url
            
            td=(page.enabled == 1) ? 'Enabled' : 'Disabled'
            
            td.actions
              a(href="/pages/#{page.page_id}/edit")
                img(src='/images/edit.png', alt='Edit')
                | Edit
            
            td.actions
              a(href="/pages/#{page.page_id}/delete")
                img(src='/images/delete.png', alt='Delete')
                | Delete
      
      tfoot
        tr
          td(colspan='5')
            //- ul.pager
            &nbsp;