extends ../layout

block content
  legend
    h3= property.title
      - if (objUser.isAdmin())
        small
          a(href="#") 
            i.icon-edit
            |  Edit
  include ../flashify
  img(src="/images/image.jpeg",width="800")
  p
    div.row.offset1
      div.span2
        img(src="/images/image1.jpeg")
      div.span2
        img(src="/images/image2.jpeg")
      div.span2
        img(src="/images/image3.jpeg")
      div.span2
        img(src="/images/image4.jpeg")
      div.span2
        img(src="/images/image5.jpeg")
  br
  br
  legend
    h3 Property Description
  p= property.description
  hr
  div.row.offset1
    div.span4
      legend
        b General Features
      p Property Type: #{property.property_type}
      p Bedrooms: #{property.bedrooms}
      p Bathrooms: #{property.bathrooms}
      
      legend
        b More Information
      li some file
      li some other file
      
    div.span4.offset2
      legend
        b Indoor Features
      br
      legend
        b Outdoor Features
      p Garage Spaces: #{property.cars}
      br
      legend
        b Other Features
      p Garage Spaces: #{property.cars}
