extends ../layout

block content
  script(defer,src="/js/jquery.flexslider.js")
  script(type="text/javascript")
    $(window).load(function() {
      // The slider being synced must be initialized first
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 162,
        itemMargin: 5,
        asNavFor: '#slider'
      });
       
      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel"
      });
    });

  div#fb-root
  script
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
  //main content
  .container.row.main
    //
      left-col
    #deal_id(style="display:none")
      | #{property.property_id}
    #left-col
      .deal-stats
        .timer
          #timer
            #day-timer
              span.label Days
              span#day-timer-days.value
            #hour-timer
              span.label Hours
              span#day-timer-hours.value
            #minute-timer
              span.label Mins
              span#day-timer-mins.value
          #map
            img#map-image(src='/images/map.png', usemap='#australia', alt='Click on a State of Australia')
            map(name='australia')
              area#map-wa(shape='polygon', coords='65,25,65,100,17,116,3,62,57,19', href='#')
              area#map-nt(shape='polygon', coords='65,25,65,69,103,69,103,35,91,24,94,13,75,10', href='#')
              area#map-qld(shape='polygon', coords='103,68,103,34,111,39,119,10,159,82,116,82,116,68', href='#')
              area#map-sa(shape='polygon', coords='116,68,65,68,65,100,116,129', href='#')
              area#map-nsw(shape='polygon', coords='116,82,159,82,145,126,116,104', href='#')
              area#map-vic(shape='polygon', coords='116,104,145,126,137,131,110,128,116,129', href='#')
              area#map-act(shape='square', coords='155,110,185,110,185,120,155,120', href='#')
              area#map-tas(shape='square', coords='120,140,170,140,170,155,120,155', href='#')
        .counter
          span.label Number of Enquiries
          span.value 1,345
      .barn-box
        h2 The Barn
        img#barn-image(src='/images/barn.png', alt='The Barn Group Deals')
        h3 Group Deals
      .share
        ul
          li
            a(href='#', onclick='javascript:window.print()')
              img(src='/images/share-print-icon.png', alt='Print')
              | Print Deal
          li.savebuttons(data-property="#{property.property_id}")
            img(src='/images/share-save-icon.png', alt='Save')
            | Save Deal
          li
            img(src='/images/share-refer-icon.png', alt='Refer')
            | Refer A Friend
          li
            .fb-like(data-href='http://www.propertyowl.com.au/properties/view/#{property.property_id}', data-send='false', data-layout='button_count', data-width='125', data-show-faces='false')
          li
            a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.propertyowl.com.au/property-details') Tweet
            script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      .enquiry
        h2 Enquire About This Deal
        form#input-form
          label(for='propertyPhone') Phone
          input#propertyPhone(type='text')
          label(for='propertyContactMethod') Contact Method
          select#propertyContactMethod
            option Phone
            option Email
          label(for='propertyComments') Comments
          textarea#propertyComments(rows='5')
          input.button(type='submit', value='Submit')
    //
      end left-col
    //
      center-col
    #wide-center-col
      a#back-button(href='/deals/state/qld') Back
      //
        image slider
      .slider-box
        #slider.flexslider
          ul.slides
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            //
               items mirrored twice, total of 12 
               
        #carousel.flexslider
          ul.slides
            li
              img(src='/images/slide1-thumb.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            //
               items mirrored twice, total of 12 
      .property-info
        #left
          h1= property.title
          | #{property.address}, #{property.suburb}, #{property.state.toUpperCase()}
          h2 Property Details
          p= property.description
          .general-features
            h3 General Features
            ul
              li Property Type: #{property.property_type}
              li Bedrooms: #{property.bedrooms}
              li Bathrooms: #{property.bathrooms}
              li Garage Space: #{property.cars}
              
            h3 More Info
            - if (files.length == 0)
              strong No files have been uploaded for this property
            - else
              - each file in files
                .file
                  img(src='/images/file-icon.gif', alt='Floor Plans')
                  p
                    a(href="/uploads/#{file.filename}")= file.description
                    
          .other-features
            h3 Indoor Features
            ul
              li Air Conditioning
            h3 Outdoor Features
            ul
              li Swimming Pool: In-ground
            h3 Other Features
            p Close to shops, close to transport, secure parking, terrace/balcony.
        #right
          .deal
            h2
              | Reveal the Deal
              img.arrow(src='/images/blue-arrow-icon.png', alt='Reveal the Deal')
            - if (deals.length == 0)
              li No deals have been listed
            - else
              ul
                - each deal in deals
                  li= deal.type.replace(/\w\S*/g, function(txt){ return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()})
          .secure-deal
            a.secure-button(href='#') Secure the Deal!
          iframe#google-map(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913&output=embed')
          br
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913') View Larger Map
    //
      end center-col
  //
    end main content
