extends ../../layout

block content
  //
    main content
  .container.row.main
    include ../../left_nav
    //
      center-col
    #center-col
      h1 Best State Deals
      - if (properties.length == 0)
         h4 No properties have been listed for this state yet
       - else
         - var i = 0; // Just a hack for PoC
         - each property in properties
          - i++
          //
            listing
          .listing-summary
            .header
              .listing-price
                $ #{property.price}
              h2 #{property.address}, St Lucia
            .listing-body
              .listing-thumb
                img.thumb(src='/images/property-thumb.jpg', alt='76 Orchard Terrace, St Lucia')
                //
                  show if top listing
                - if (i == 1)
                  img.top-state-deal(src='/images/top-state-deal.png', alt='Top State Deal')
              .listing-details
                .features
                  span.property-type
                    strong= property.type
                  span
                    img(src='/images/bed-icon.png', alt='3 Bedroom')
                    strong= property.bedrooms
                    |  Bedrooms
                  span
                    img(src='/images/bath-icon.png', alt='2 Bathroom')
                    strong= property.bathrooms
                    |  Bathrooms
                  span
                    img(src='/images/car-icon.png', alt='2 Car Spaces')
                    strong= property.cars
                    |  Car Spaces
                .summary
                  h3= property.title
                  p= property.description
                .listing-links
                  a.save-button(href='#')
                    img#save-icon(src='/images/plus-icon.png', alt='Save this property')
                    |  Save
                  a.details-button(href='#')
                    img#info-icon(src='/images/info-icon.png', alt='View property details')
                    |  Details
            hr
          //
            end listing

    //
      end center-col
    //
      right-col
    #right-col
      img#ad-tower1.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')
      img#ad-tower2.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')
    //
      end right-col
  //
    end main content
  