mixin gallery(deal)
  
  if deal && deal.images && deal.images.length
    
    #mySlider.evoslider.galleriffic
      
      dl
        if deal.feature_image
          dt "slide #{deal.feature_image.id}"
            dd(data-src=deal.feature_image.url, data-thumb=deal.feature_image.thumbnail)
        
        each image in deal.images
          dt "slide #{image.id}"
            dd(data-src=image.url, data-thumb=image.thumbnail)