- if (barn.images && barn.images.length)
  #mySlider.evoslider.galleriffic
    dl
      - var i = 0
      - var hero = barn.heroImageURL()
      - if (hero.length > 12)
        dt "slide #{i}"
          dd(data-src=hero, data-thumb=hero)
        - i = 1
      - each image in barn.images
        - var currentImg = '/uploads/' + image.filename
        - if (hero != currentImg)
          dt "slide #{i}"
            dd(data-src='/uploads/#{image.filename}', data-thumb='/uploads/#{image.filename}')
          - i = i+1
- else
  strong No barn images have been uploaded!