- if (barn.images && barn.images.length)
  #mySlider.evoslider.galleriffic
    dl
      - var i = 0
      - var hero = barn.image.thumbnail
      - if (hero.length > 12)
        dt "slide #{i}"
          dd(data-src=hero, data-thumb=hero)
        - i = 1
      - each image in barn.images
        - var currentImg = image.thumbnail
        - if (hero != currentImg)
          dt "slide #{i}"
            dd(data-src=image.thumbnail, data-thumb=image.thumbnail)
          - i = i+1
- else
  strong No barn images have been uploaded!
  