extends ../layout

block content
  
  .container.row.main
    div#fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    #left-col
      include ../left_nav
      .share
        ul
          li
            a(href='#', onclick='javascript:window.print()')
              img(src='/images/share-print-icon.png', alt='Print')
              | Print Deal
          li
            img(src='/images/share-save-icon.png', alt='Save')
            | Save Deal
          li
            img(src='/images/share-refer-icon.png', alt='Refer')
            | Refer A Friend
          li
            .fb-like(data-href='http://www.propertyowl.com.au/property-details', data-send='false', data-layout='button_count', data-width='125', data-show-faces='false')
          li
            a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.propertyowl.com.au/property-details') Tweet
            script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
      .enquiry
        h2 Enquire About This Deal
        form#input-form
          label(for='propertyName') Name
          input#propertyName(type='text',disabled,value=objUser.firstName+' '+objUser.lastName)
          label(for='propertyEmail') Email:
          input#propertyEmail(type='text',disabled,value=objUser.email)
          label(for='propertyPhone') Phone
          input#propertyPhone(type='text',value=objUser.phone)
          label(for='propertyContactMethod') Contact Method
          select#propertyContactMethod
            option Phone
            option Email
          label(for='propertyComments') Comments
          textarea#propertyComments(rows='5')
          input.button(type='submit', value='Submit')
    
    #wide-center-col
      //- image slider
      #mySlider.evoslider.galleriffic
        dl
          dt slide one
          //- dd(data-src='/uploads/#{image.filename}', data-thumb='/images/slide1-thumb.jpg')
          dd(data-src='/uploads/slider2.jpg', data-thumb='/uploads/slide1-thumb.jpg')
          dt slide two
          dd(data-src='/uploads/slider3.jpg', data-thumb='/uploads/slide1-thumb.jpg')
          dt slide three
          dd(data-src='/uploads/slider4.jpg', data-thumb='/uploads/slide1-thumb.jpg')
          dt slide four
          dd(data-src='/uploads/slider5.jpg', data-thumb='/uploads/slide1-thumb.jpg')
          dt slide five
          dd(data-src='/uploads/slider1.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      
      .property-info
        - if (barn.lots && barn.lots.length)
          table.barn-lots
            thead
              td Lot
              td Bed
              td Bath
              td Car
              td Level
              td Int. Size
              td Ext. Size
              td Aspect
              td List Price
              td Floor Plan
              td Register
            - var i = 0;
            - each lot in lots
              - i++
              tbody
                td= i
                td= lot.bedrooms
                td= lot.bathrooms
                td= lot.carspaces
                td= lot.level
                td #{lot.interior_size} sq.m
                td #{lot.exterior_size} sq.m
                td= lot.aspect
                td= lot.price
                td
                  - if (lot.floor_plan.length == 0)
                    em Not Available
                  - else
                    a(href='#') Download
                td
                  a.barn-register(href='#', alt='Register') Register
        #left
          //- p #{property.address}, #{property.suburb}, #{property.state.toUpperCase()} #{property.postcode}
          //- h2= property.title
          
          //- p= property.description
          
          .general-features
            h3 Indoor Features
            //- p= property.indoor_features
            h3 Outdoor Features
            //- p= property.outdoor_features

          .other-features
            h3 Other Features
            //- p= property.other_features
        #right
          
          .deal
            //- h2
            //-   | Reveal the Deal
            //-   img.arrow(src='/images/blue-arrow-icon.png', alt='Reveal the Deal')
            //- - if (locals.deals.length == 0)
            //-   li No deals have been listed
            //- - else
            //-   ul
            //-     - each deal in locals.deals
            //-       li= deal.type.replace(/\w\S*/g, function(txt){ return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()})
          
          .time-left
            p
              | Time left
              span.time 04:02:35
          
          iframe#google-map(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913&output=embed')
          
          br
          
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913') View Larger Map

          //- .more-info
          //-   h2 
          //-     | More Information
          //-     img.arrow(src='/images/grey-arrow-icon-down.png', alt='More Information')
          //-   - if (files.length == 0)
          //-     ul
          //-       li No files have been uploaded
          //-   - else
          //-     ul
          //-     - each file in files
          //-       li
          //-         a(href="/uploads/#{file.filename}") #{file.description}