extends ../layout

block content
  
  .container.row.main
    
    include ../common/_facebook
    
    include ../common/_slider
    
    #left-col
      
      include ../left_nav
    
    #wide-center-col.mobile-full
      
      h1= barn.title
      
      include ../common/_gallery
      mixin gallery(barn)
      
      .property-info
        
        if barn.owls && barn.owls.length
          
          table.barn-lots
            
            thead
              td Lot ID
              td Unit
              td Bed
              td Bath
              td Car
              td Level
              td Net Floor
              td Gross Floor
              td Aspect
              td List Price
              td Register
            
            tbody
              - each owl in barn.owls
                tr
                  td 
                    a(href='/owls/#{owl.owl_id}') #{barn.code}#{owl.alpha}
                  td= owl.unit
                  td= owl.bedrooms
                  td= owl.bathrooms
                  td= owl.cars
                  td= owl.level
                  td #{owl.internal_area} sq.m
                  td #{owl.external_area + owl.internal_area} sq.m
                  td= owl.aspect
                  td.price $ #{owl.price}
                  td
                    a.barn-register.show-secure-deal.secure-button.express-button(href='#', data-modal='registration', alt='Register', data-entity_id="#{owl.id}", data-entity_type="owl") Register
      
      .property-info
        
        #left
          | #{barn.address}, #{barn.suburb}, #{barn.state.toUpperCase()} #{barn.postcode}
          
          p !{barn.description.replace(/\r\n/g,"<br />")}

          .general-features
            h3 Indoor Features
            p !{barn.indoor_features.replace(/\r\n/g,"<br />")}
            h3 Outdoor Features
            p !{barn.outdoor_features.replace(/\r\n/g,"<br />")}
          
          .other-features
            h3 Other Features
            p !{barn.other_features.replace(/\r\n/g,"<br />")}
        
        #right
          - if (req.user && req.user.isAdmin())
            .more-info(style='text-align: center; background: #BADA55;')
              a(href="/barns/#{barn.id}/edit") Admin
          
          .deal
            h2
              | Reveal the Deal
              img.arrow(src='/images/blue-arrow-icon-down.png', alt='Reveal the Deal')
            
            - if (barn.deals && barn.deals.length)
              ul
                - each deal in barn.deals
                  li.price $ #{deal.value} #{deal.description}
            
            - else
              ul
                li No barn deals have been listed
          
          //- .secure-deal
          //-   a.show-secure-deal.secure-button.express-button(href='#',data-id="#{barn.id}", data-type="barn") Express Your Interest!
          
          .time-left
            p
              | Time left
              span.time 04:02:35
          
          include ../map
          
          mixin map(barn)
          
          br
          
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=#{barn.address + ' ' + barn.suburb + ' ' + barn.state + ' ' + barn.postcode}&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913', target="_blank") View Larger Map
          
          if barn.files && barn.files.length
              
              .more-info
                h2 
                  | More Information
                  img.arrow(src='/images/blue-arrow-icon-down.png', alt='More Information')
                
                ul
                  each file in barn.files
                    li: a(href=file.url)= file.description
