extends ../layout

block content
  
  .container.row.main
    div#fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    #left-col
      
      include ../left_nav
    
    #wide-center-col
      
      h1= barn.title
      
      - locals.owli = barn.owls[0]
      - if (typeof(owli) != 'undefined' && owli.images && owli.images.length)
        #mySlider.evoslider.galleriffic
          dl
            - var i = 0
              - each image in owli.images
                - i++
                dt "slide #{i}"
                dd(data-src='/uploads/#{image.filename}', data-thumb='/uploads/#{image.filename}')
      - else
        strong No owls have been uploaded!
      
      div#entity(style="display: none;") barn
      
      div#entity_id(style="display: none;")= barn.id
      
      .property-info
      
        - if (barn.owls && barn.owls.length)
          
          table.barn-lots
            
            thead
              td Lot
              td Bed
              td Bath
              td Car
              td Level
              td Int. Size
              td Ext. Size
              td Aspect
              td List Price
              td Floor Plan
              td Register
            
            tbody
              - each owl in barn.owls
                tr
                  td 
                    a(href='/owls/#{owl.owl_id}') #{barn.code}#{owl.alpha}
                  td= owl.bedrooms
                  td= owl.bathrooms
                  td= owl.carspaces
                  td= owl.level
                  td #{owl.internal_area} sq.m
                  td #{owl.external_area} sq.m
                  td= owl.aspect
                  td.price $ #{owl.price}
                  td
                  td
                    a.barn-register.show-secure-deal.secure-button.register(href='#', alt='Register', data-id="#{owl.id}", data-type="owl") Register
      
      .property-info
        
        #left
          p #{barn.address}, #{barn.suburb}, #{barn.state.toUpperCase()} #{barn.postcode}
          
          p= barn.description

          .general-features
            h3 Indoor Features
            p= barn.indoor_features
            h3 Outdoor Features
            p= barn.outdoor_features
          
          .other-features
            h3 Other Features
            p= barn.other_features
        
        #right
          - if (objUser.isAdmin())
            .more-info(style='text-align: center; background: #BADA55;')
              a(href="/admin/barns/#{barn.id}/edit") Admin
          
          .deal
            h2
              | Reveal the Deal
              img.arrow(src='/images/blue-arrow-icon-down.png', alt='Reveal the Deal')
            
            - if (barn.deals.length)
              ul
                - each deal in barn.deals
                  li.price $ #{deal.value} #{deal.description}
            - else
              ul
                li No barn deals have been listed
              
          .secure-deal
            a.show-secure-deal.secure-button.express-button(href='#',data-id="#{barn.id}", data-type="barn") Express Your Interest!
          .time-left
            p
              | Time left
              span.time 04:02:35
          
          include ../map
          mixin map(barn)
          
          br
          
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=#{barn.address + ' ' + barn.suburb + ' ' + barn.state + ' ' + barn.postcode}&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913', target="_blank") View Larger Map
          
          - if (barn.files && barn.files.length)
            .more-info
              h2 
                | More Information
                img.arrow(src='/images/blue-arrow-icon-down.png', alt='More Information')
              - if (barn.files)
                ul
                  - each file in barn.files
                    li
                      a(href="/uploads/#{file.filename}") #{file.description}
              - else
                ul
                  li No files have been uploaded