extends ../layout

block content
  
  .container.row.main
    div#fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    #left-col
      include ../left_nav
      
      
      
      //- .share
      //-   ul
      //-     li
      //-       a(href='#', onclick='javascript:window.print()')
      //-         img(src='/images/share-print-icon.png', alt='Print')
      //-         | Print Deal
      //-     li
      //-       img(src='/images/share-save-icon.png', alt='Save')
      //-       | Save Deal
      //-     li
      //-       img(src='/images/share-refer-icon.png', alt='Refer')
      //-       | Refer A Friend
      //-     li
      //-       .fb-like(data-href='http://www.propertyowl.com.au/barns#{barn.barn_id}', data-send='false', data-layout='button_count', data-width='125', data-show-faces='false')
      //-     li
      //-       a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.propertyowl.com.au/barns#{barn.barn_id}') Tweet
      //-       script
      //-         !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    
    #wide-center-col
      //- image slider
      // #mySlider.evoslider.galleriffic
      //   dl
      //     dt slide one
      //     //- dd(data-src='/uploads/#{image.filename}', data-thumb='/images/slide1-thumb.jpg')
      //     dd(data-src='/uploads/slider2.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      //     dt slide two
      //     dd(data-src='/uploads/slider3.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      //     dt slide three
      //     dd(data-src='/uploads/slider4.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      //     dt slide four
      //     dd(data-src='/uploads/slider5.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      //     dt slide five
      //     dd(data-src='/uploads/slider1.jpg', data-thumb='/uploads/slide1-thumb.jpg')
      
      - locals.owli = barn.owls[0]
      - if (owli.images && owli.images.length)
        #mySlider.evoslider.galleriffic
          dl
            - var i = 0
            - each image in owli.images
              - i++
              dt "slide #{i}"
              dd(data-src='/uploads/#{image.filename}', data-thumb='/uploads/#{image.filename}')
      div#entity(style="display: none;") barn
      div#entity_id(style="display: none;")= barn.id
      .property-info
      
        - if (barn.owls && barn.owls.length)
          
          table.barn-lots
            
            thead
              td Lot
              td Bed
              td Bath
              td Car
              td Level
              td Int. Size
              td Ext. Size
              td Aspect
              td List Price
              td Floor Plan
              td Register
            
            tbody
              - each owl in barn.owls
                tr
                  td 
                    a(href='/owls/#{owl.owl_id}') #{barn.code}#{owl.alpha}
                  td= owl.bedrooms
                  td= owl.bathrooms
                  td= owl.carspaces
                  td= owl.level
                  td #{owl.internal_area} sq.m
                  td #{owl.external_area} sq.m
                  td= owl.aspect
                  td.price $ #{owl.price}
                  td
                  td
                    a.barn-register.register(href='#', alt='Register', data-id="#{owl.id}", data-type="owl") Register
      
      .property-info
        
        #left
          p #{barn.address}, #{barn.suburb}, #{barn.state.toUpperCase()} #{barn.postcode}
          h2= barn.title
          
          p= barn.description
          
          .general-features
            h3 Indoor Features
            p= barn.indoor_features
            h3 Outdoor Features
            p= barn.outdoor_features
          
          .other-features
            h3 Other Features
            p= barn.other_features
        
        #right
          .deal
            h2
              | Reveal the Deal
              img.arrow(src='/images/blue-arrow-icon-down.png', alt='Reveal the Deal')
            
            - if (barn.deals.length)
              ul
                - each deal in barn.deals
                  li.price= '$' + deal.value.toString() + ' ' + deal.description
            - else
              ul
                li No barn deals have been listed
              
          .secure-deal
            a.show-secure-deal.secure-button.register(href='#',data-id="#{barn.id}", data-type="barn") Express Your Interest!
          .time-left
            p
              | Time left
              span.time 04:02:35
          
          include ../map
          mixin map(barn)
          
          br
          
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=#{barn.address + ' ' + barn.suburb + ' ' + barn.state + ' ' + barn.postcode}&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913', target="_blank") View Larger Map
          
          .more-info
            h2
              | More Information
              img.arrow(src='/images/blue-arrow-icon-down.png', alt='More Information')
            ul
              li No files have been uploaded
            //-               ul
            //-                 li No files have been uploaded
            //-             - else
            //-               ul
            //-               - each file in files
            //-                 li
            //-                   a(href="/uploads/#{file.filename}") #{file.description}