.listing-summary
  .header
    h2
      a(href="/barns/#{barn.id}") #{barn.address}, #{barn.suburb}, #{barn.postcode}, #{barn.state.toUpperCase()}
  
  .listing-body
    .listing-thumb
      a(href='/barns/#{barn.barn_id}')
        img.thumb(src=barn.heroImageURL(), alt='#{barn.fullAddress()}')
    
    .listing-details
      .summary
        h3= barn.title
        p= _s.prune(barn.description,250)
      
      .listing-links
        a.save-button(href='#')
          img#save-icon(src='/images/plus-icon.png', alt='Save this barn listing')
          |  Save
        
        a.details-button(href='/barns/#{barn.id}')
          img#info-icon(src='/images/info-icon.png', alt='View barn deal')
          |  Details
         
         - if (req.user && req.user.isAdmin())
            a(href="/admin/barns/#{barn.id}/edit").admin-button
              img#admin-icon(src="/images/view.png",alt="View owl details")
              |  Admin