extends ../../layout

block content
 .container.row.main
    include ../../admin-menu
    
    h1 Barn Deals
    
    include ../../flashify
    
    h3 #{barn.address}, #{barn.suburb}, #{barn.postcode}
    
    h4 Properties Apart of Barn Deal:
    
    a(href="/admin/barn/add/#{barn.property_id}") Add Property To Deal
    
    hr
    
    - each property in properties
      p #{property.address}, #{property.suburb}, #{property.postcode}
        a(href="/admin/barn/delete/#{barn.property_id}/#{property.property_id}") &times;