.listing-summary
  
  .header
    
    a(href="/#{req.type}/#{post.id}")
      
      h2= post.title
  
  .listing-body
    
    .listing-thumb
      
      a.details-button(href="/#{req.type}/#{post.id}")
        
        - if (post.images[0])
         
          img.thumb(src='/uploads/#{post.imageURL()}', alt='#{post.title}')
        
        - else
        
          img.thumb(src='/images/placeholder.png', alt='#{post.title}')
    
    .listing-details
      
      .summary
        p= moment(new Date(post.created_at)).format('LLL')
        p= _s.prune(post.content, 200)
      
      .listing-links
        a.details-button(href="/#{req.type}/#{post.id}")
          img#info-icon(src='/images/info-icon.png', alt='View details')
          |  Details