.left
  
  .inputs
    label.required(for='name') Name
    input#name(type='text', name='name', placeholder='Name', value=advertiser.name,maxlength='100')
  
  .inputs
    label(for='description') Description
    input#description(type='text', placeholder='Description', name='description', value=advertiser.description,maxlength='100')
  
  .inputs
    label.required(for='contactee') Contactee
    input#contactee(type='text', placeholder='Contactee', name='contactee', value=advertiser.contactee,maxlength='100')
  
  .inputs
    label.required(for='email') Email
    input#email(type='email', name='email', placeholder='Email', value=advertiser.email,maxlength='100')
  
  .inputs
    label.required(for='phone') Phone
    input#phone(type='tel', placeholder='Phone', name='phone', value=advertiser.phone,maxlength='100')

.right
  
  .inputs
    label.required(for='address') Address
    input#address(type='text', placeholder='Address', name='address', value=advertiser.address,maxlength='100')
 
  .inputs
    label.required(for='suburb') Suburb
    input#suburb(type='text', placeholder='Suburb', name='suburb', value=advertiser.suburb,maxlength='100')
 
  .inputs
    label.required(for='postcode') Postcode
    input#postcode(type='text', name='postcode', placeholder='Postcode', value=advertiser.postcode,maxlength='100')
  
  .inputs
    label.required(for='state') State
    select.state#state(name='state')
      option Select
      - each state in ['act', 'nsw', 'nt', 'qld', 'sa', 'tas', 'vic', 'wa']
        option(value='#{state}', selected=state == advertiser.state) #{state.toUpperCase()}

.inputs