extends ../../layout

block content
  legend
    h3 Add Property
  form.form-horizontal(action="/developers/properties/add",method="post")
    include ../../flashify
    div.control-group  
      label.control-label(for="inputTitle") Title:
      div.controls
        input#inputTitle(type="text",placeholder="Title",name="title",value="")
    
    div.control-group  
      label.control-label(for="ptype") Property Type:
      div.controls
        select#ptype(name="ptype")
          - each pt in p_types
            option(value="#{pt.property_type_id}")= pt.type
                
    div.control-group  
      label.control-label(for="Address") Address:
      div.controls
        textarea.span7(rows=4,placeholder="Address of the property")
        
    div.control-group  
      label.control-label(for="inputTitle") State:
      div.controls
        - var states = [ {c: 'qld',n: 'Queensland'}, {c: 'nsw',n: 'New South Wales'}, {c: 'act',n: 'A.C.T'},{c: 'vic',n: 'Victoria'},{c: 'sa',n: 'South Australia'},{c: 'wa',n: 'Western Australia'},{c: 'nt',n: 'Northen Territory'},{c: 'tas',n: 'Tasmania'}]
        select(name="state")
          - each state in states
            option(value="#{state.c}")= state.n
    div.control-group  
      label.control-label(for="inputTitle") Price:
      div.controls
        input#inputTitle(type="text",placeholder="Property Price",name="price",value="")
        
    div.control-group  
      label.control-label(for="inputTitle") Bedrooms:
      div.controls
        select.span2(name="bedrooms")
          - for(i=1; i<6; i++)
            option(value="#{i}")= i
    
    div.control-group  
      label.control-label(for="inputTitle") Bathrooms:
      div.controls
        select.span2(name="bathrooms")
          - for(i=1; i<6; i++)
            option(value="#{i}")= i
        
    div.control-group  
      label.control-label(for="inputTitle") Car Spaces:
      div.controls
        select.span2(name="garages")
          - for(i=1; i<6; i++)
            option(value="#{i}")= i
    
            
    div.form-actions
     input.btn.btn-primary(type="submit",value="List Property")
     | &nbsp;
     a.btn(href="#") Cancel