extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      h1 News Updates
      h3 Innovation in delivering Australia's best property deals
      - if (news.length == 0)
        p There are no news items for now. Please check back soon. 
      - else
        - each post in news
          
          .listing-summary
            .header
              h2= post.title
            
            .listing-body
              .listing-thumb
                a.details-button(href="/news/#{post.news_id}")
                  img.thumb(src='/images/news-thumb.jpg', alt='')
              
              .listing-details
                .summary
                  p= post.posted_at
                  p= post.content
                
                .listing-links
                  a.details-button(href="/news/#{post.news_id}")
                    img#info-icon(src='/images/info-icon.png', alt='View details')
                    |  Details
    
    include ../right_nav
    
    script
      $('small.timeago').timeago();