extends ../../layout

block content
 //
   main content
 .container.row.main
    include ../../admin-menu
    h1 News Articles
    include ../../flashify
    .admin-actions
     ul
      li
       a(href="/admin/news/add")
        img(src='/images/add.png')
        | &nbsp;
        | Add New Article
     .grid-summary 1 - 4 of 24
    .grid-header
     form#search-form
      input#memberSearch(type='text')
      | &nbsp;
      input.button(type='submit', value='Go')
      | &nbsp;
      input.button(type='submit', value='Reset')
    table.admin-gridview
     thead
      tr
       td Type
       td Headline
       td Date
       td(colspan='2') Actions
     tbody
     - each post in news
      tr
       td= post.news_type.replace(/\w\S*/g, function(txt){ return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()})
       td= post.title
       td= post.posted_at
       td.actions
        a(href="/admin/news/edit/#{post.news_id}")
         img(src='/images/edit.png', alt='Edit')
         | Edit
       td.actions
        a(href="/admin/news/delete/#{post.news_id}")
         img(src='/images/delete.png', alt='Delete')
         | Delete
     tfoot
      tr
       td(colspan='6')
        ul.pager
         li.disabled
          a(href='#') Prev
         li.selected
          a(href='#') 1
         li
          a(href='#') 2
         li
          a(href='#') Next