tr(data-id=post.id)
  
  td= post.type
  
  td= post.title
  
  - var listed = new Date(post.created_at)
  td(style='text-align: center;') #{listed.getDay()}/#{listed.getMonth()}/#{listed.getFullYear()}
  
  td.actions
    
    a(href="/admin/news/#{post.id}/edit")
      img(src='/images/edit.png', alt='Edit')
      | Edit
  
  td.actions
    
    a.delete(href="/admin/news/#{post.id}/delete")
      img(src='/images/delete.png', alt='Delete')
      | Delete