extends ../layout

block content
  
  .container.row.main
    include ../left_nav
    
    #center-col
      
      h1 Welcome to Products and Services
      
      p At Property Owl we love working with the below businesses.
      
      p Search through the different categories for the product or service you are seeking. Click on the Enquire Now tab, complete the required fields, then click on Submit and you will receive information on their advertised deals.
      
      p Cannot find a product or service that suits your needs? Advise us of your property needs and we will find the business or businesses who are willing to provide a great deal to Property Owl subscribers.
      
      h3 Property Owl &#45; Innovation in delivering Australia&#39;s Best Property Deals

      - if (locals.categories && locals.categories.length)
        h4 Filter By Category:
          form(action="",method="get")
            select(name="category")
              option(value='All') All
              each category in categories
                - var s = (id == category.id) ? true : false
                option(value="#{category.id}",selected=s)= category.key
            | &nbsp; 
            input(type="submit",value="Search",class="button")
        - each category in categories
          - if (id != 0 && id != 'All')
            if (id == category.id)
              h3= category.key
              - var count = 0
              each affiliate in affiliates
              
                - if (affiliate.category_id == category.id)
                  
                  //- h5= affiliate.name
                  if affiliate.visible == 1
                    include summary
                    - count++
                    
              if count == 0
                p No services found for this category yet.
        
          - else
            h3= category.key
            - var count = 0
            each affiliate in affiliates
              
              - if (affiliate.category_id == category.id)
                
                //- h5= affiliate.name
                
                if affiliate.visible == 1
                  include summary
                  - count++

            if count == 0
              p No services found for this category yet.
      
      - else
        
        p No services have been listed on Property Owl
    
    include ../right_nav

    .secure-deal-overlay.overlay.overlay.modal-enquiry#generic-modal
      .modal.main.success
        a.close-secure-deal(href='#')
          img(src='/images/modal-close-white.png', alt='Close')
        
        h1.modal-title Send Enquiry
        
        .modal-content.details-form
          div.secure-deal-errors.error
          input.half.secure-deal-first-name#name(type='text', placeholder='Name', value="#{objUser.displayName}")
          input.half.secure-deal-email#email(type='text', placeholder='Email Address', value="#{objUser.email}")
          input.half.secure-deal-phone#phone(type='text', placeholder='Phone Number', value="#{objUser.mobile}")
          select#method(name="method",style="width: 14.063em;").half.secure-deal-email
            option(value="Phone") Contact me by phone
            option(value="Email") Contact me by email
          textarea.full.secure-deal-comment#enquiry(placeholder='Place your enquiry here', style="width:98%;")
          .submit-buttons
            button#sendEnquiry.button.right(style="margin-left:50%; margin-top:0.75em; position:relative; left:-6em;") Send