.listing-summary.affiliate(data-id=affiliate.id)
  
  .header
    
    h2= affiliate.name
  
  .listing-body
    
    .listing-thumb
      
      if affiliate.image
        img.thumb(src=affiliate.image.url, alt=affiliate.name)
      else
        img.thumb(src='/images/placeholder.png', alt=post.title)
    
    .listing-details
      
      .summary
        
        p= affiliate.description
      
      .listing-links
        
        a.enquire-button(href='#', data-entity_id=affiliate.id, data-entity_type='affiliate', data-modal='enquiry') Enquire
        
        if req.user && req.user.isAdmin()
            a(href="/affiliates/#{affiliate.id}/edit").admin-button
              img#admin-icon(src="/images/view.png", alt="View details")
              |  Admin