.listing-summary.affiliate(data-id=affiliate.id)
  
  .header
    h2= affiliate.name
  
  .listing-body
    
    .listing-thumb
      img.thumb(src='#{affiliate.imageURL()}')
    
    .listing-details
      
      .summary
        p= affiliate.description
      
      .listing-links
        a.enquire-button(href='#',data-id="#{affiliate.affiliate_id}") Enquire
        - if (objUser.isAdmin())
            a(href="/admin/affiliates/#{affiliate.affiliate_id}/edit").admin-button
              img#admin-icon(src="/images/view.png",alt="View owl details")
              |  Admin