.listing-summary.affiliate(data-id=affiliate.id)
  
  .header
    h2= affiliate.name
  
  .listing-body
    
    .listing-thumb
      img.thumb(src='#{affiliate.imageURL()}')
    
    .listing-details
      
      .summary
        p= affiliate.description
      
      .listing-links
        a.enquire-button(href='#',data-id="#{affiliate.affiliate_id}") Enquire